/* Roisk Luxury Hotel Business HTML-5 Template */

/*** 

====================================================================
	Clients One
====================================================================

***/

.clients-one{
	position:relative;
}