/* Roisk Luxury Hotel Business HTML-5 Template */

/***

====================================================================
	Coming Soon
====================================================================

***/

.coming-soon{
	position:relative;
	display:block;
	text-align: center;
	padding-bottom:120px;
}

.coming-soon .content{
	position: relative;
}

.coming-soon .content .content-inner{
	position: relative;
	padding: 160px 0px 0px;
}

.coming-soon .content .content-inner .logo{
	position:relative;
	z-index:1;
	margin-bottom: 60px;
}

.time-counter{
	position:relative;
}

.time-counter .time-countdown{
	position:relative;
	margin-bottom: 150px;
}

.time-counter .time-countdown .counter-column{
	position:relative;
	display: inline-block;
	width:180px;
	height:180px;
	line-height: 1em;
	color:var(--white-color);
	text-transform:uppercase;
	font-size:20px;
	font-weight:700;
	text-align: center;
	z-index: 7;
	border-radius: 20px;
    background-color:var(--main-color);
	margin:0 15px 20px;
	font-family: "Lexend Deca", sans-serif;
}

.time-counter .time-countdown .counter-column:nth-child(2){
	background-color: #f5f5f5;
	color:var(--black-color);
	border:2px solid rgba(0,0,0,0.20);
}

.time-counter .time-countdown .counter-column:nth-child(2) .count{
	color:var(--black-color);
}

.time-counter .time-countdown .counter-column:nth-child(3){
	background-color: #000000;
}

.time-counter .time-countdown .counter-column:nth-child(4){
	background-color:var(--main-color);
}

.time-counter .time-countdown .counter-column .count{
	position:relative;
	display:block;
	font-size:70px;
	line-height:30px;
	padding:60px 0px 30px;
	color:var(--white-color);
	font-weight:600;
}

.coming-soon .emailed-form{
	position: relative;
}

.coming-soon .emailed-form h3{
	color: var(--black-color);
	margin-bottom: 20px;
}

.coming-soon .emailed-form .text{
	display: block;
	color: var(--black-color);
	font-size: 18px;
	margin-bottom: 40px;
}

.coming-soon .emailed-form .form-group{
	position:relative;
	display:block;
	max-width:540px;
	width:100%;
	margin: 0 auto;
}

.coming-soon .emailed-form .form-group input[type="text"],
.coming-soon .emailed-form .form-group input[type="tel"],
.coming-soon .emailed-form .form-group input[type="email"],
.coming-soon .emailed-form .form-group textarea{
	position:relative;
	display:block;
	width:100%;
	line-height:28px;
	height:60px;
	color:var(--black-color);
	font-size: 16px;
	overflow:hidden;
	border-radius:50px;
	padding:15px 50px 15px 25px;
	background: var(--white-color);
	border: 1px solid rgba(var(--black-color-rgb), 0.15);
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;	
}

.coming-soon .emailed-form .form-group input:focus,
.coming-soon .emailed-form .form-group select:focus,
.coming-soon .emailed-form .form-group textarea:focus{
	border-color:var(--main-color);
}

.coming-soon .emailed-form .form-group input[type="submit"],
.coming-soon .emailed-form button{
	position:absolute;
	right:10px;
	top:0px;
	width: 60px;
	height:60px;
	line-height:40px;
	font-size: 18px;
	color: var(--main-color);
	background-color: transparent;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;	
}

.coming-soon .emailed-form .form-group input[type="submit"]:hover,
.coming-soon .emailed-form button:hover{
	color: var(--color-two);
}

.coming-soon .copyright-text{
	position: relative;
	font-size: 18px;
	line-height: 26px;
	color: var(--white-color);
	font-weight: 400;
}

.coming-soon .copyright-text a{
	color: var(--main-color);
}

.coming-soon .copyright-text a:hover{
	text-decoration: underline;
}

.clock-wrapper{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: -145px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    background-color: rgba(var(--black-color-rgb), 0.06);
    transform: scale(2);
}

.clock-base{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.click-indicator{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    width: 230px;
    height: 230px;
}

.click-indicator div{
    position: absolute;
    width: 2px;
    height: 4px;
    margin: 113px 114px;
}

.click-indicator div > span{
	height: 5px;
	width: 5px;
	background-color: var(--main-color);
	display: inline-block;
	border-radius: 50%;
	margin-left: -1px;
	margin-top: -1px;
}

.click-indicator div:nth-child(1) {
    transform: rotate(30deg) translateY(-120px);
}

.click-indicator div:nth-child(2) {
    transform: rotate(60deg) translateY(-120px);
}

.click-indicator div:nth-child(3) {
    transform: rotate(90deg) translateY(-120px);
    background-color: var(--main-color);
}

.click-indicator div:nth-child(4) {
    transform: rotate(120deg) translateY(-120px);
}

.click-indicator div:nth-child(5) {
    transform: rotate(150deg) translateY(-120px);
}

.click-indicator div:nth-child(6) {
    transform: rotate(180deg) translateY(-120px);
    background-color: var(--main-color);
}

.click-indicator div:nth-child(7) {
    transform: rotate(210deg) translateY(-120px);
}

.click-indicator div:nth-child(8) {
    transform: rotate(240deg) translateY(-120px);
}

.click-indicator div:nth-child(9) {
    transform: rotate(270deg) translateY(-120px);
    background-color: var(--main-color);
}

.click-indicator div:nth-child(10) {
    transform: rotate(300deg) translateY(-120px);
}

.click-indicator div:nth-child(11) {
    transform: rotate(330deg) translateY(-120px);
}

.click-indicator div:nth-child(12) {
    transform: rotate(360deg) translateY(-120px);
    background-color: var(--main-color);
}

.clock-hour{
    position: absolute;
    z-index: 2;
    top: 75px;
    left: 123px;
    width: 4px;
    height: 65px;
    background-color: var(--main-color);
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    transform-origin: 2px 50px;
    transition: .5s;
    -webkit-animation: rotate-hour 43200s linear infinite;
    -moz-animation: rotate-hour 43200s linear infinite;
}

.clock-minute{
    position: absolute;
    z-index: 3;
    top: 55px;
    left: 123px;
    width: 4px;
    height: 85px;
    background-color: var(--main-color);
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    transform-origin: 2px 70px;
    transition: .5s;
    -webkit-animation: rotate-minute 3600s linear infinite;
    -moz-animation: rotate-minute 3600s linear infinite;
}

.clock-second{
    position: absolute;
    z-index: 4;
    top: 15px;
    left: 124px;
    width: 2px;
    height: 130px;
    background-color: var(--black-color);
    opacity: .9;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    transform-origin: 1px 110px;
    transition: .5s;
    -webkit-animation: rotate-second 60s linear infinite;
    -moz-animation: rotate-second 60s linear infinite;
}

.clock-second:after{
    content: "";
    display: block;
    position: absolute;
    left: -3px;
    bottom: 16px;
    width: 8px;
    height: 8px;
    background-color: var(--black-color);
    border: solid 2px var(--black-color);
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
}

.clock-center{
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 150px;
    top: 50px;
    left: 50px;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    border-radius: 50%;
}

.clock-center:after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin: 65px;
    /* background-color: var(--black-color); */
    border-radius: 50%;
}