/* Roisk Luxury Hotel Business HTML-5 Template */

/*** 

====================================================================
	Counter One
====================================================================

***/

.counter-one{
	position:relative;
}

.counter-block_one{
	position:relative;
}

.counter-block_one-inner{
	position:relative;
	min-height:60px;
	padding-left: 80px;
}

.counter-block_one-icon{
	position:absolute;
	left:0px;
	line-height:1em;
	font-size: 60px;
	color: var(--main-color);
}

.counter-block_one strong{
	position:relative;
	display: block;
	font-size: 24px;
	font-weight: 600;
	margin-top: 20px;
	letter-spacing: 1px;
	color: var(--color-two);
	text-transform: uppercase;
	font-family: "Barlow Condensed", sans-serif;
}

.counter-block_one .count-box{
	position:relative;
	font-size: 40px;
	line-height:1em;
	font-weight: 500;
	padding-top: 15px;
	color: var(--color-two);
	font-family: "Barlow Condensed", sans-serif;
}

.counter-block_one-text{
	position:relative;
	padding-top: 10px;
	font-size: 16px;
	opacity:0.80;
	color: var(--color-two);
	text-transform: capitalize;
}

.counter-block_one-inner:hover .counter-block_one-icon{
	animation: jello 1s;
}

/*** 

====================================================================
	Counter Two
====================================================================

***/

.counter-two{
	position:relative;
	padding-bottom: 80px;
}

.counter-two .pattern-one{
	position:absolute;
	right:0px;
	top:-400px;
	width: 339px;
	height: 594px;
	background-repeat: no-repeat;
}

.counter-two .pattern-two{
	position:absolute;
	left:0px;
	bottom:-260px;
	width: 339px;
	height: 594px;
	z-index:1;
	background-repeat: no-repeat;
}

.counter-block_two{
	position:relative;
	margin-bottom: 30px;
}

.counter-block_two-inner{
	position:relative;
	text-align:right;
}

.counter-block_two-inner .border-layer{
	position:absolute;
	right:0px;
	top:0px;
	opacity:0.20;
	width: 110px;
	height: 115px;
	border-top:2px solid var(--color-two);
	border-right:2px solid var(--color-two);
}

.counter-block_two-inner .border-layer:before{
	position:absolute;
	content:'';
	right:-8px;
	bottom:0px;
	width: 2px;
	height: 25px;
	transform:rotate(25deg);
	background-color: var(--color-two);
}

.counter-block_two-text{
	position:relative;
	font-size: 30px;
	line-height: 40px;
	padding: 25px 30px 0px;
	color: var(--color-two);
	text-transform: capitalize;
	font-family: "Barlow Condensed", sans-serif;
}

.counter-block_two .count-box{
	position:relative;
	font-size: 90px;
	line-height:1em;
	font-weight: 500;
	margin-top: 20px;
	color: var(--main-color);
	font-family: "Barlow Condensed", sans-serif;
}