/* Roisk Luxury Hotel Business HTML-5 Template */

/*** 

====================================================================
	Features One
====================================================================

***/

.features-one{
	position:relative;
	overflow: hidden;
	padding-bottom: 90px;
}

.features-one .sec-title{
	display: inline-block;
}

.features-one-arrow{
	position: absolute;
	right:-195px;
	top: -120px;
}

.features-one .features-carousel-prev{
	position: relative;
	z-index: 1;
	width: 73px;
	height: 72px;
	font-size: 24px;
	cursor: pointer;
	line-height: 72px;
	text-align: center;
	display: inline-block;
	color: var(--white-color);
	background-color:var(--color-two);
}

.features-one .features-carousel-prev:hover{
	color: var(--white-color);
	background-color: var(--main-color);
}

.features-one .features-carousel-next:hover{
	color: var(--white-color);
	background-color: var(--main-color);
}

.features-one .features-carousel-next::after,
.features-one .features-carousel-prev::after{
	display: none;
}

.features-one .features-carousel-next{
	position: relative;
	z-index: 1;
	width: 73px;
	height: 72px;
	font-size: 24px;
	cursor: pointer;
	line-height: 72px;
	text-align: center;
	display: inline-block;
	color: var(--white-color);
	background-color:var(--color-two);
}

.features-one:before{
	position:absolute;
	content:'';
	left:0px;
	bottom:0px;
	right:0px;
	height:365px;
	background-color:#f6f8fb;
}

.features-one .swiper-container{
	position:relative;
	max-width:900px;
	margin:0 auto;
	overflow: visible;
}

.features-one .swiper-container .swiper-slide.swiper-slide-active .feature-block_one-content{
	opacity:1;
	bottom:20px;
}

.feature-block_one{
	position:relative;
	margin-bottom: 30px;
}

.feature-block_one-inner{
	position:relative;
	overflow: hidden;
}

.feature-block_one-image{
	position:relative;
	background-color: var(--main-color);
}

.feature-block_one-image img{
	position:relative;
	width:100%;
	display: block;
}

.feature-block_one-inner:hover .feature-block_one-image img{
	opacity:0.70;
	transform: scale(1.05,1.05) rotate(1deg);
}

.feature-block_one-content{
	position:absolute;
	left:20px;
	opacity: 0;
	bottom:-180px;
	right: 20px;
	padding: 25px 25px 25px;
	background-color: var(--white-color);
}

.feature-block_one-inner:hover .feature-block_one-content{
	opacity:1;
	bottom:20px;
}

.feature-block_one-icon{
	position:relative;
	padding: 16px 30px 8px;
	display: inline-block;
	background-color: var(--main-color);
}

.feature-block_one-icon li{
	position:relative;
	margin-right: 12px;
	font-size: 22px;
	line-height:1em;
	display: inline-block;
	color: var(--white-color);
	font-family: "flaticon_roisk-flat";
}

.feature-block_one-icon li:last-child{
	margin-right: 0px;
}

.feature-block_one-title{
	position:relative;
	margin-top: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.feature-block_one-title a{
	position:relative;
	color: var(--color-two);
}

.feature-block_one-title a:hover{
	color: var(--main-color);
}

.feature-block_one-price{
	position:relative;
	font-size: 30px;
	font-weight: 600;
	margin-top: 15px;
	margin-bottom: 20px;
	color: var(--main-color);
	font-family: "Barlow Condensed", sans-serif;
}

.feature-block_one-price span{
	position:relative;
	font-size: 22px;
	color: var(--color-two);
}

.feature-block_one-arrow{
	position: absolute;
    right: 0px;
    bottom: 0px;
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    color: var(--white-color);
    background-color: var(--main-color);
    font-family: "flaticon_roisk-flat";
}

.feature-block_one-arrow:hover{
	color: var(--white-color);
    background-color: var(--color-two);
}

/*** 

====================================================================
	Features Two
====================================================================

***/

.features-two{
	position:relative;
	overflow: hidden;
	padding: 0px 0px 110px;
}

.features-two_bg{
	position:absolute;
	left:0px;
	top:100px;
	right:0px;
	bottom:0px;
	background-attachment: fixed;
	background-size: cover;
}

.features-two_bg:before{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	opacity: 0.60;
	background-color: var(--color-two);
}

.features-two_content{
	position:relative;
	max-width: 570px;
	padding: 70px 60px 60px;
	background-color: var(--color-two);
}

.features-two_list{
	position:relative;
}

.features-two_list li{
	position:relative;
	padding-left: 30px;
	font-size: 16px;
	margin-bottom: 12px;
	color: var(--white-color);
}

.features-two_list li .icon{
	position:absolute;
	left:0px;
	top:0px;
	font-size: 18px;
	color: var(--main-color);
	font-family: "flaticon_roisk-flat";
}

.features-two_icon{
	position:absolute;
	right: 50px;
	bottom:50px;
}

/*** 

====================================================================
	Features Three
====================================================================

***/

.features-three{
	position:relative;
	padding: 40px 0px 110px;
}

.features-three .pattern-one{
	position: absolute;
    right: 0px;
    top: -320px;
    width: 339px;
    height: 594px;
    background-repeat: no-repeat;
}

.features-three .column{
	position:relative;
}

.features-three_image{
	position:relative;
	margin-left: -300px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.features-three_image:before{
	position:absolute;
	content:'';
	right:30px;
	bottom:0px;
	width: 220px;
	height: 350px;
	background-color: var(--color-two);
}

.features-three_image:after{
	position:absolute;
	content:'';
	right:120px;
	bottom:45px;
	left: 30px;
	top: -10px;
	border-radius: 0px 400px 400px 0px;
	border:5px solid var(--main-color);
}

.features-three_image img{
	position:relative;
	max-width:inherit;
	overflow: hidden;
	border-radius: 0px 400px 400px 0px;
}

.features-three_dotted{
	position:absolute;
	right:50px;
	top:0px;
	width: 198px;
	height: 198px;
	background-repeat: no-repeat;
}

.features-three .sec-title{
	margin-bottom: 20px;
}

.features-three_title{
	position:relative;
	font-weight: 600;
	margin-bottom: 25px;
	text-transform:uppercase;
}

.features-three_list{
	position:relative;
}

.features-three_list li{
	position:relative;
	font-size: 20px;
	padding-left: 25px;
	margin-bottom: 12px;
	color: var(--color-two);
	text-transform: capitalize;
	font-family: "Barlow Condensed", sans-serif;
}

.features-three_list li:before{
	position:absolute;
	content: "\f12b";
	left:0px;
	top:0px;
	color: var(--main-color);
	font-family: "flaticon_roisk-flat";
}

.features-three_button{
	position:relative;
	margin-top: 20px;
}

.features-three_pattern{
	position:absolute;
	left:60px;
	bottom:0px;
	width: 232px;
	height: 206px;
	background-repeat: no-repeat;
}

.features-three_pattern-two{
	position:absolute;
	right:0px;
	top:0px;
	width: 232px;
	height: 206px;
	background-repeat: no-repeat;
}