/* Roisk Luxury Hotel Business HTML-5 Template */

/*** 

====================================================================
	News One
====================================================================

***/

.blog-one{
	position:relative;
	padding: 110px 0px 80px;
}

.blog-one .inner-container{
	position:relative;
	display: flex;
	gap: 25px;
	
	transition: all 0.4s ease;
}

.blog-one .news-block_one.active{
	flex: 0 0 50%;
}

.blog-one .news-block_one{
	flex: 0 0 25%;
	min-height: 534px;
}

.news-block_one{
	position:relative;
	margin-bottom: 30px;
}

.news-block_one-inner{
	position:relative;
}

.news-block_one-image{
	position:relative;
	overflow: hidden;
	border-radius: 20px;
}

.news-block_one-image:before{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	z-index:1;
	opacity: 0.40;
	background-color: var(--color-two);
}

.news-block_one-image img{
	position:relative;
	width: 100%;
	display: block;
}

.news-block_one-card{
	position:absolute;
	left:50%;
	top:50%;
	z-index:2;
	width:100px;
	height:100px;
	font-size:32px;
	text-align:center;
	line-height:100px;
	border-radius:100px;
	color: var(--color-two);
	background-color: var(--white-color);
	transform: translateX(-50%) translateY(-50%);
}

.news-block_one-card span{
	animation: blink 2.4s infinite;
}

.news-block_one-content{
	position:relative;
	padding-top: 25px;
}

.news-block_one-date{
	position:relative;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 1px;
	color: var(--color-two);
	text-transform: uppercase;
	font-family: "Barlow Condensed", sans-serif;
}

.news-block_one-title{
	position:relative;
	margin-top: 12px;
	text-transform: uppercase;
}

.news-block_one-title a{
	position:relative;
	color: var(--color-two);
}

.news-block_one-title a:hover{
	color: var(--main-color);
}

/*** 

====================================================================
	News Two
====================================================================

***/

.blog-two{
	position:relative;
	padding: 110px 0px 80px;
}

.news-block_two{
	position: relative;
	z-index: 2;
	margin-bottom: 30px;
}

.news-block_two-inner{
	position:relative;
	overflow: hidden;
	border-radius: 0px;
	background-color: var(--color-two);
}

.news-block_two-image_outer{
	position:relative;
	height: 100%;
}

.news-block_two-image{
	position:relative;
	overflow:hidden;
	height: 100%;
	border-radius:0px;
}

.news-block_two-image img:first-child{
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	z-index:1;
	-webkit-transform: translatex(50%) scalex(2);
    transform: translatex(50%) scalex(2);
    opacity: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.news-block_two-inner:hover .news-block_two-image img:first-child{
	-webkit-transform: translatex(0) scalex(1);
	transform: translatex(0) scalex(1);
	opacity: 1;
	-webkit-filter: blur(0);
	filter: blur(0);
}

.news-block_two-inner:hover .news-block_two-image img:nth-child(2){
	-webkit-transform: translatex(-50%) scalex(2);
	transform: translatex(-50%) scalex(2);
	opacity: 0;
	-webkit-filter: blur(10px);
	filter: blur(10px);
}

.news-block_two-image img{
	position:relative;
	width:100%;
	height: 100%;
	display:block;
	object-fit: cover;
	-webkit-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

.news-block_two-content{
	position: relative;
	display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
	padding:10px 30px 10px 0px;
}

.news-block_two-author{
	position:absolute;
	right:10px;
	bottom:10px;
	z-index:10;
	font-size: 14px;
	font-weight: 600;
	padding: 9px 20px;
	border-radius:50px;
	letter-spacing: 1px;
	color: var(--black-color);
	text-transform: uppercase;
	background-color: var(--white-color);
}

.news-block_two-author span{
	position:relative;
	margin-right:5px;
	font-family: "flaticon_roisk-flat";
}

.news-block_two-text{
	position: relative;
	margin-bottom: 25px;
}

.news-block_two-title{
	position: relative;
	margin-top:15px;
	font-weight: 500;
	margin-bottom: 15px;
	text-transform: capitalize;
}

.news-block_two-title a{
	position: relative;
	color: var(--white-color);
}

.news-block_two-title a:hover{
	color: var(--main-color);
}

.news-block_two-text{
	position: relative;
	font-size:16px;
	line-height:28px;
	margin-top:0px;
	margin-bottom:10px;
	color: var(--white-color);
}

.news-block_two-button{
	position:relative;
	margin-top: 10px;
}

.news-block_two-more{
	position: relative;
	font-weight: 700;
	display: block;
	padding:15px 35px;
	text-align: center;
	letter-spacing: 1px;
	background-color:#f5f5f5;
	color: var(--black-color);
	text-transform: uppercase;
}

.news-block_two-inner:hover .news-block_two-button:after{
	color: var(--main-color);
}

.news-block_two-inner:hover .news-block_two-button:before{
	border-color: var(--main-color);
}

.news-block_two-inner:hover .news-block_two-more{
	color: var(--white-color);
	background-color: var(--main-color);
}

.news-block_two-date{
	position:relative;
	font-size: 16px;
	color: var(--white-color);
}

.news-block_two-date .icon{
	position:relative;
	margin-right: 8px;
	color: var(--main-color);
}

/*** 

====================================================================
	News Three
====================================================================

***/

.blog-three{
	position:relative;
	overflow: hidden;
	padding: 220px 0px 160px;
}



.blog-three .three-item_carousel-prev{
	position: relative;
	width: 60px;
	height: 60px;
	z-index: 10;
	cursor: pointer;
	font-size: 18px;
	text-align: center;
	line-height: 58px;
	text-align: center;
	border-radius: 50px;
	display: inline-block;
	color: var(--color-two);
	border: 2px solid rgba(var(--color-two-rgb), 1);
}

.blog-three .three-item_carousel-prev:hover{
	color: var(--white-color);
	border-color: var(--main-color);
	background-color: var(--main-color);
}

.blog-three .three-item_carousel-next:hover{
	color: var(--white-color);
	border-color: var(--main-color);
	background-color: var(--main-color);
}

.blog-three .three-item_carousel-next{
	position: relative;
	width: 60px;
	height: 60px;
	z-index: 10;
	font-size: 18px;
	line-height: 58px;
	margin-left:10px;
	text-align: center;
	border-radius: 50px;
	text-align: center;
	display: inline-block;
	color: var(--color-two);
	border: 2px solid rgba(var(--color-two-rgb), 1);
}

.news-three_button{
	position:relative;
	margin-bottom: 30px;
}

.news-three_title-column{
	position:relative;
	margin-bottom: 30px;
}

.news-three_blocks-column{
	position:relative;
	margin-bottom: 30px;
}

.news-three_blocks-outer{
	position:relative;
}

.news-three_blocks-outer:before{
	position: absolute;
    content: '';
    left: 150px;
    top: -100px;
    bottom: -80px;
    right: -600px;
    background-color: var(--main-color);
}

.blog-three .swiper-container {
    padding: 10px 0px 10px 15px;
    margin-right: -350px;
}

.news-block_three{
	position: relative;
	margin-bottom:30px;
}

.news-block_three-inner{
	position: relative;
	background-color: var(--white-color);
	box-shadow:0px 0px 15px rgba(0,0,0,0.10);
}

.news-block_three-image{
	position: relative;
	overflow: hidden;
	background-color: var(--main-color);
}

.news-block_three-image img{
	position: relative;
	width: 100%;
	display: block;
	-webkit-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

.news-block_three-inner:hover .news-block_three-image img{
	opacity: 0.70;
	transform: scale(1.04,1.04) rotate(1deg);
}

.news-block_three-image:before{
	position: absolute;
	top: 0;
	left: -85%;
	z-index: 99;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .7) 100%);
	background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, .7)));
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .7) 100%);
	-webkit-transform: skewX(-25deg);
	-ms-transform: skewX(-25deg);
	transform: skewX(-25deg);
}

.news-block_three-inner:hover .news-block_three-image:before{
	-webkit-animation: shine 1s;
	animation: shine 1s;
}

.news-block_three-date{
	position: absolute;
	right: 15px;
	bottom: 15px;
	z-index:10;
	font-size: 14px;
	font-weight: 600;
	padding:6px 15px;
	letter-spacing:1px;
	color: var(--white-color);
	text-transform:uppercase;
	background-color: var(--main-color);
}

.news-block_three-content{
	position: relative;
	padding: 25px 25px 30px;
}

.news-block_three-meta{
	position:relative;
}

.news-block_three-meta li{
	position:relative;
	font-size:18px;
	margin-right:15px;
	display:inline-block;
	color: var(--color-two);
}

.news-block_three-meta li:last-child{
	margin-right:0px;
}

.news-block_three-meta li span{
	position:relative;
	margin-right:8px;
	font-weight:500;
	top:1px;
	color: var(--color-two);
	font-family: "flaticon_roisk-flat";
}

.news-block_three-heading{
	position: relative;
	margin-top: 15px;
	margin-bottom: 25px;
	color: var(--color-two);
}

.news-block_three-heading a{
	position: relative;
	color: var(--color-two);
}

.news-block_three-heading a:hover{
	color: var(--main-color);
}

.news-block_three-more{
	position: relative;
	font-size: 16px;
	font-weight:600;
	display:block;
	text-align:center;
	padding:14px 15px;
	font-weight:600;
	letter-spacing:2px;
	color: var(--white-color);
	text-transform:uppercase;
	background-color: var(--main-color);
}

.news-block_three-more:hover{
	color: var(--white-color);
	background-color: var(--color-two);
}

/* News Block Two */

.news-block_four{
	position: relative;
	z-index: 2;
	margin-bottom: 30px;
}

.news-block_four-inner{
	position:relative;
}

.news-block_four-image_outer{
	position:relative;
}

.news-block_four.style-two .news-block_four-image{
	border-radius: 10px;
}

.news-block_four-image{
	position:relative;
	overflow:hidden;
	border-radius:30px;
}

.news-block_four-image img:first-child{
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	z-index:1;
	-webkit-transform: translatex(50%) scalex(2);
    transform: translatex(50%) scalex(2);
    opacity: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.news-block_four-inner:hover .news-block_four-image img:first-child{
	-webkit-transform: translatex(0) scalex(1);
	transform: translatex(0) scalex(1);
	opacity: 1;
	-webkit-filter: blur(0);
	filter: blur(0);
}

.news-block_four-inner:hover .news-block_four-image img:nth-child(2){
	-webkit-transform: translatex(-50%) scalex(2);
	transform: translatex(-50%) scalex(2);
	opacity: 0;
	-webkit-filter: blur(10px);
	filter: blur(10px);
}

.news-block_four-image img{
	position:relative;
	width:100%;
	display:block;
	-webkit-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

.news-block_four-content{
	position: relative;
	padding-top:30px;
}

.news-block_four-date{
	position:absolute;
	right:10px;
	bottom:10px;
	z-index:10;
	font-size: 16px;
	font-weight: 600;
	padding: 9px 35px;
	border-radius:50px;
	letter-spacing: 1px;
	color: var(--white-color);
	text-transform: uppercase;
	background-color: var(--main-color);
}

.news-block_four-meta{
	position: relative;
}

.news-block_four-meta li{
	position: relative;
	font-size:18px;
	padding-left: 30px;
	margin-right: 15px;
	display: inline-block;
	color: var(--black-color);
}

.news-block_four-meta li .icon{
	position: absolute;
	left: 0px;
	top: 1px;
	line-height: 1em;
	color: var(--main-color);
}

.news-block_four-meta li:last-child{
	margin-right: 0px;
	padding-right: 0px;
}

.news-block_four-title{
	position: relative;
	margin-top:15px;
	text-transform: capitalize;
}

.news-block_four-title a{
	position: relative;
	color: var(--black-color);
}

.news-block_four-title a:hover{
	color: var(--main-color);
}

.news-block_four-text{
	position: relative;
	color: #666666;
	font-size:18px;
	line-height:28px;
	margin-top:15px;
}

.news-block_four-button{
	position:relative;
	margin-top: 25px;
}

.news-block_four-button:before{
	position:absolute;
	content:'';
	left:25px;
	bottom:0px;
	right:0px;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	border-bottom:2px solid var(--color-two);
}

.news-block_four-button:after{
	position:absolute;
	content:'\f0da';
	right:0px;
	bottom:-10px;
	font-size:20px;
	font-weight:800;
	color:var(--color-two);
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	font-family: 'Font Awesome 6 Free';
}

.news-block_four-more{
	position: relative;
	font-weight: 700;
	letter-spacing: 1px;
	padding:17px 35px;
	display: inline-block;
	color: var(--white-color);
	text-transform: uppercase;
	border-radius:50px 50px 0px 50px;
	background-color: var(--color-two);
}

.news-block_four-inner:hover .news-block_four-button:after{
	color: var(--main-color);
}

.news-block_four-inner:hover .news-block_four-button:before{
	border-color: var(--main-color);
}

.news-block_four-inner:hover .news-block_four-more{
	color: var(--white-color);
	background-color: var(--main-color);
}

/* Post Widget */

.post-widget .widget-content{
	position:relative;
}

.post-widget .post{
	position: relative;
	min-height: 155px;
	padding-left: 160px;
	margin-bottom: 32px;
	border-bottom:1px solid rgba(0,0,0,0.10);
}

.post-widget .post:last-child{
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.post-widget .post .thumb{
	position: absolute;
	left: 0;
	top: 0;
	height: 120px;
	width: 141px;
	overflow: hidden;
	border-radius:6px;
}

.post-widget .post .thumb a{
	display: block;
}

.post-widget .post .thumb img{
	display: block;
	width: 100%;
	height: auto;
}

.post-widget .post h5{
	font-weight: 500;
	text-transform: capitalize;
}

.post-widget .post h5 a{
	color:var(--black-color);
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.post-widget .post h5 a:hover{
	color:var(--main-color);
}

.post-widget .post .post-date{
	position: relative;
	display: block;
	font-weight:400;
	font-size: 14px;
	color:#666666;
	margin-bottom: 10px;
	display: inline-block;
	text-transform:capitalize;
}

/* Tags */

.popular-tags a{
	position: relative;
	padding: 10px 25px;
	font-size: 16px;
	font-weight: 400;
	border-radius: 2px;
	margin-right: 5px;
	margin-bottom: 10px;
	display: inline-block;
	color: var(--black-color);
	text-transform: capitalize;
	border:1px solid rgba(var(--black-color-rgb), 0.20);
}

.popular-tags a:hover{
	color: var(--white-color);
	border-color: var(--main-color);
	background-color: var(--main-color);
}

/* Blog Detail */

.blog-detail{
	position:relative;
	z-index:1;
}

.news-detail_inner{
	position:relative;
}

.news-detail_content{
	position:relative;
}

.blog-detail_image{
	position:relative;
	overflow:hidden;
	border-radius:30px;
}

.blog-detail_image img:first-child{
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	z-index:1;
	-webkit-transform: translatex(50%) scalex(2);
    transform: translatex(50%) scalex(2);
    opacity: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.news-detail_inner:hover .blog-detail_image img:first-child{
	-webkit-transform: translatex(0) scalex(1);
	transform: translatex(0) scalex(1);
	opacity: 1;
	-webkit-filter: blur(0);
	filter: blur(0);
}

.news-detail_inner:hover .blog-detail_image img:nth-child(2){
	-webkit-transform: translatex(-50%) scalex(2);
	transform: translatex(-50%) scalex(2);
	opacity: 0;
	-webkit-filter: blur(10px);
	filter: blur(10px);
}

.blog-detail_image img{
	position:relative;
	width:100%;
	display:block;
	-webkit-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

.blog-detail_content{
	position: relative;
	padding:30px 30px;
	margin-bottom:30px;
}

.blog-detail_content:before{
	position: absolute;
	content:'';
	left:0px;
	top:-50px;
	right:0px;
	bottom:0px;
	border-radius:0px 0px 15px 15px;
	border:2px solid rgba(var(--black-color-rgb), 0.06);
	border-top:none;
}

.blog-detail_date_outer{
	position: absolute;
	right: 15px;
	z-index:9;
	top: 15px;
	display:inline-block;
}

.blog-detail_date{
	position:relative;
	z-index:10;
	font-size: 32px;
	font-weight: 700;
	padding: 15px 22px 9px;
	border-radius:50px;
	letter-spacing: 2px;
	color: var(--white-color);
	text-transform: capitalize;
	background-color: var(--main-color);
	outline: 5px solid var(--white-color);
	outline-offset: 0px;
}

.blog-detail_date span{
	position: relative;
	font-size:14px;
}

.blog-detail_date_outer:before{
	position: absolute;
    content: '';
    left: -37px;
    top: 0px;
    width: 60px;
    z-index: 1;
    height: 38px;
    background-position: right top;
}

.blog-detail_date_outer:after{
	position:absolute;
	content:'';
	right: -37px;
    top: 0px;
	width:60px;
	height:38px;
	z-index:1;
}

.blog-detail_meta{
	position: relative;
}

.blog-detail_meta li{
	position: relative;
	display: inline-block;
	color: #666666;
	font-size:18px;
	padding-left: 30px;
	margin-right: 15px;
}

.blog-detail_meta li .icon{
	position: absolute;
	left: 0px;
	top: 5px;
	line-height: 1em;
	color: var(--color-two);
}

.blog-detail_meta li:last-child{
	margin-right: 0px;
	padding-right: 0px;
}

.blog-detail_title{
	position: relative;
	margin-top:10px;
	text-transform: capitalize;
}

.blog-detail_title a{
	position: relative;
	color: var(--black-color);
}

.blog-detail_title a:hover{
	color: var(--main-color);
}

.blog-detail_text{
	position: relative;
	line-height: 30px;
	font-size: 16px;
	margin-top: 10px;
	color:#666666;
}

.blog-detail blockquote{
	position:relative;
	padding:34px 30px;
	border-radius:20px;
	margin-top:30px;
	margin-bottom:30px;
	background-color:#E6E9F1;
}

.blog-detail blockquote .blockquote-inner{
	position:relative;
	padding-left:95px;
	font-size:20px;
	line-height:30px;
	padding-top:5px;
	color:var(--black-color);
}

.blog-detail blockquote:before{
	position:absolute;
	content:'';
	left:-6px;
	top:-6px;
	bottom:40px;
	width:60%;
	z-index:-1;
	border-radius:20px;
	background-color:var(--color-two);
}

.blog-detail blockquote .quote{
	position:absolute;
	left:0px;
	top:0px;
	width:68px;
	height:68px;
	line-height:68px;
	border-radius:10px;
	text-align:center;
	display:inline-block;
	background-color: var(--main-color);
}

.blog-detail blockquote i{
	position:relative;
	display:block;
	text-align:right;
	font-size:16px;
	font-weight:700;
	color:var(--main-color);
}

.blog-detail_gallery{
	position:relative;
	margin-top:30px;
}

.blog-detail_image-two{
	position:relative;
	overflow:hidden;
	border-radius:20px;
	margin-bottom:25px;
}

.blog-detail_image-two img{
	position:relative;
	width:100%;
	display:block;
}

.post-share-options{
	position:relative;
	margin-top:40px;
}

.post-share-options strong{
	position:relative;
	font-size:24px;
	margin-right:20px;
	color:var(--black-color);
}

.post-share-options a{
	position: relative;
    padding: 5px 20px;
    font-size: 14px;
    color: #666666;
    font-weight: 400;
    border-radius: 50px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
    text-transform: capitalize;
    border: 1px solid rgba(var(--black-color-rgb), 0.20);
}

.post-share-options a:hover{
	color:var(--white-color);
	border-color:var(--main-color);
	background-color:var(--main-color);
}

.social-links_title{
	position:relative;
	font-size:24px;
	margin-right:20px;
	color:var(--black-color);
}

.blog-detail .social-links{
	position:relative;
}

.blog-detail .social-links a{
	position:relative;
	font-size:16px;
	margin-left:5px;
	color:var(--black-color);
}

.blog-detail .social-links a:hover{
	color:var(--color-two);
}

.blog-author-post{
	position: relative;
	margin-top: 30px;
}

.blog-author-post_inner{
	position: relative;
	padding-left: 180px;
}

.blog-detail_author-image{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 152px;
	overflow: hidden;
	border-radius:5px;
}

.blog-author-post h5{
	font-weight: 700;
	color: var(--black-color);
}

.blog-author-post .text{
	position: relative;
    line-height: 30px;
    font-size: 16px;
    margin-top: 10px;
    color: #666666;
}

.blog-author-post_socials{
	position:relative;
	margin-top:15px;
}

.blog-author-post_socials li{
	position:relative;
	margin-right:5px;
	display:inline-block;
}

.blog-author-post_socials li a{
	position:relative;
	font-size:16px;
	font-weight:600;
	color:var(--color-two);
}

.blog-author-post_socials li a:hover{
	color:var(--main-color);
}

/* More Posts */

.blog-more_posts{
	position: relative;
	margin-top: 60px;
	padding:25px 0px;
	margin-bottom: 30px;
	border-top:1px solid rgba(var(--black-color-rgb), 0.10);
	border-bottom:1px solid rgba(var(--black-color-rgb), 0.10);
}

.blog-more_posts .more-posts{
	position: relative;
}

.blog-more_posts .prev-posts{
	position: relative;
	padding-left: 100px;
}

.blog-more_posts .prev-posts .post-image{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 80px;
	height: 70px;
	overflow: hidden;
}

.blog-more_posts h6{
	font-weight: 700;
	color: var(--black-color);
}

.blog-more_posts .title{
	position: relative;
	color: var(--black-color);
	text-transform: capitalize;
}

.blog-more_posts .prev-posts .text{
	position: relative;
	font-size: 16px;
	color:#666666;
	line-height:26px;
}

.blog-more_posts .next-posts{
	position: relative;
	text-align: right;
	padding-right: 100px;
}

.blog-more_posts .next-posts .post-image{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 80px;
	height: 70px;
	overflow: hidden;
}

.blog-more_posts .date{
	position: relative;
	font-size: 14px;
	color:#666666;
	line-height:1em;
	margin-bottom:5px;
}

/*** 

====================================================================
	Comment Form
====================================================================

***/

.comment-form-outer{
	position:relative;
	margin-top: 30px;
}

.comment-form-outer .rating{
	position:relative;
}

.comment-form-outer .rating strong{
	position:relative;
	font-weight: 600;
	font-size: 18px;
	margin-left:25px;
	color: var(--black-color);
}

.comment-form-outer .rating span{
	position:relative;
	color: #FECE50;
}

.comment-form .form-group{
	margin-bottom:25px;
}

.comment-form .form-group:last-child{
	margin-bottom:0px;
}

.comment-form .form-group input[type="text"],
.comment-form .form-group input[type="password"],
.comment-form .form-group input[type="tel"],
.comment-form .form-group input[type="email"],
.comment-form .form-group select{
	position:relative;
	display:block;
	width:100%;
	line-height:28px;
	padding:10px 25px;
	height:54px;
	border-radius:50px;
	font-size:14px;
	color:var(--color-two);
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;
	background-color:var(--white-color);
	border:1px solid rgba(var(--black-color-rgb), 0.10);
}

.comment-form .form-group textarea::-webkit-input-placeholder,
.comment-form .form-group input::-webkit-input-placeholder{
	color:var(--color-five);
}

.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="password"]:focus,
.comment-form .form-group input[type="tel"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus{
	border-color:var(--main-color);
}

.comment-form .form-group textarea{
	position:relative;
	display:block;
	width:100%;
	line-height:24px;
	padding:15px 25px 25px;
	font-size:14ox;
	color:var(--color-two);
	height:120px;
	resize:none;
	border-radius:25px;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;
	background-color:var(--white-color);
	border:1px solid rgba(var(--black-color-rgb), 0.10);
}

.comment-form .theme-btn{
	padding:17px 40px;
}