/* Roisk Luxury Hotel Business HTML-5 Template */

/***

====================================================================
	Page Title
====================================================================

***/

.page-title{
	position:relative;
	overflow: hidden;
	text-align: center;
	padding:270px 0px 120px;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
}

.page-title:before{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	opacity: 0.70;
	background-color: var(--color-two);
}

.page-title h1{
	text-transform:uppercase;
    color:var(--white-color);
}

.page-title .bread-crumb{
	position: relative;
	margin-top:15px;
}

.page-title .bread-crumb li{
	position: relative;
	font-weight:500;
	font-size: 16px;
	letter-spacing:1px;
	margin-right: 15px;
	padding-right: 15px;
	display:inline-block;
	color:var(--white-color);
	text-transform:uppercase;
	font-family: 'Unbounded', sans-serif;
}

.page-title .bread-crumb li:first-child::before{
	position: absolute;
	right: -6px;
	top:-2px;
    content: "::";
	font-size: 22px;
	font-family: 'Font Awesome 6 Free';
}

.page-title .bread-crumb li:last-child{
	padding-right: 0;
	margin-right: 0;
}

.page-title .bread-crumb li:last-child:before{
	display: none;
}

.page-title .bread-crumb li a{
	color:var(--white-color);
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;	
}

.page-title .bread-crumb li a:hover{
	color:var(--main-color);
}