/* Roisk Luxury Hotel Business HTML-5 Template */

/*** 

====================================================================
	Privacy Section
====================================================================

***/

.privacy-section{
	position:relative;
	padding:100px 0px 100px;
}

.privacy-section .privacy-content{
	position:relative;
	padding-bottom:15px;
	margin-bottom:25px;
	border-bottom:1px solid #e2e2e2;
}

.privacy-section .privacy-content:last-child{
	padding-bottom:0px;
	margin-bottom:0px;
	border:none;
}

.privacy-section h3{
	color:var(--black-color);
	margin-bottom:20px;
}

.privacy-section p{
	margin-bottom: 20px;
}

.privacy-section .date{
	position:relative;
	font-weight:500;
	font-size:18px;
	margin-bottom:15px;
	color:var(--main-color);
}

.privacy-section h4{
	color:var(--black-color);
	margin-bottom:20px;
}

.privacy-section .privacy-list{
	position:relative;
	margin-left:20px;
}

.privacy-section .privacy-list li{
	position:relative;
	font-weight:400;
	padding-left:26px;
	line-height:1.7em;
	font-size:18px;
	margin-bottom:10px;
	color:var(--black-color);
}

.privacy-section .privacy-list li:before{
	position:absolute;
	content:'';
	left:0px;
	top:10px;
	width:7px;
	height:7px;
	border-radius:50px;
	background-color:var(--main-color);
}