/* Roisk Luxury Hotel Business HTML-5 Template */

@media only screen and (max-width: 1450px){
	
	.main-header.header-style-one .header-lower .inner-container{
		padding-right: 20px;
		background-color: var(--white-color);
	}
	
	.slider-one_socials,
	.main-header.header-style-one .header-lower .header-navbar::after,
	.main-header.header-style-one .header-lower .header-navbar::before,
	.main-header.header-style-one .header-lower .logo-box .logo::after,
	.main-header.header-style-one .header-lower .logo-box::before{
		display: none;
	}
	
	.main-header.header-style-one .header-lower .header-navbar{
		padding: 0px 0px;
	}
	
	.main-header.header-style-one .header-lower .logo-box .logo{
		padding: 15px 0px 15px 30px;
	}
	
	.main-header.header-style-one .header-lower .logo-box .logo::before{
		bottom:0px;
	}
	
	.main-header.header-style-one.fixed-header .header-lower .logo-box .logo:before,
	.main-header.header-style-one.fixed-header .header-lower .logo-box:before{
		display: none;
	}

	.main-header.header-style-one.fixed-header .header-lower .header-navbar:before{
		display: none;
	}

	.main-header.header-style-one.fixed-header .header-lower .header-navbar{
		padding:0px;
	}

	.main-header.header-style-one.fixed-header .header-lower .logo-box .logo{
		padding:15px 0px;
	}
	
	
	
	.team-one .swiper-slide.swiper-slide-prev .team-block_one{
		transform:inherit !important;
	}

	.team-one .swiper-slide.swiper-slide-next .team-block_one{
		transform:inherit !important;
	}
	
	.team-one .swiper-container{
		padding: 0px 0px;
	}
	
	.about-three_image-two{
		left:25px;
		bottom:15px;
	}

}

@media only screen and (max-width: 1400px){

	.main-header .main-menu .navigation > li{
		margin-right: 20px;
	}
	
	.slider-one_dotted,
	.slider-one_image-layer{
		display: none;
	}
	
	.slider-one_pattern{
		bottom:0px;
		height:auto;
	}
	
	.faq-one_image-two{
		right: 15px;
		bottom:25px;
	}
	
}

@media only screen and (max-width: 1300px){

	.main-header .main-menu .navigation > li{
		margin-right: 12px;
	}
	
	.slider-one .swiper-slide{
		padding:260px 0px 140px;
	}
	
	.rooms-one_content{
		padding-left: 0px;
	}
	
	.slider-two_socials,
	.slider-two_call,
	.rooms-one_pattern{
		display: none;
	}
	
	.room-feature_one{
		right: 15px;
	}
	
	.room-feature_two{
		left: 20px;
		right:auto;
	}
	
}

@media only screen and (max-width: 1240px){
	
	.time-table-section .table-outer{
		overflow-y: visible;
		overflow-x: auto;
	}

	.table-outer {
		position: relative;
		overflow-x: scroll;
	}
	
	.features-three .pattern-one,
	.features-three_image::after,
	.about-three_dotted,
	.main-header_button{
		display: none;
	}
	
	.slider-one_heading,
	.slider-one_content-inner{
		max-width: 100%;
	}
	
	.about-three_content{
		padding-left: 0px;
	}
	
}

@media only screen and (max-width: 1200px){
	
	.about-one_image-outer{
		display: none;
	}
	
	.about-one{
		padding-bottom: 50px;
	}
	
	.about-two_counter-outer{
		padding-left: 130px;
	}
	
	.service-three .button-box{
		margin-bottom: 25px;
	}
	
	.faq-one_image{
		margin-right:0px;
	}
	
	.faq-one_image-two,
	.faq-one_image-three{
		display: none;
	}
	
}	

@media only screen and (max-width: 1140px){
	
	.main-header .main-menu .navigation > li{
		margin-right: 15px;
	}
	
	.main-header .main-menu .navigation > li > a{
		font-size: 14px;
	}
	
	.main-header .header-lower{
		border-radius: 0px;
	}

	.main-header .header-lower .outer-box {
		margin-top: 0px;
	}
	
	.header-info_list li,
	.header-top .address{
		font-size: 14px;
	}
	
	.about-two_image-three,
	.slider-one_big-title{
		display: none;
	}
	
	.shop-detail_content-column .inner-column{
		padding-left: 0px;
	}
	
	.shop-detail_content-column .quantity-box{
		margin-bottom: 20px;
	}
	
	.main-header .main-menu .navigation > li.dropdown > a::after{
		line-height: 18px;
	}
	
	.cta-one_heading{
		font-size: 70px;
		line-height: 80px;
	}
	
	.main-header.header-style-one .header-lower .header-navbar{
		gap: 25px;
	}
	
	.room-feature_one {
		top: 5px;
		right: 15px;
		bottom:auto;
	}
	
	.rooms-one_image{
		padding-bottom: 0px;
	}
	
	.room-feature_one{
		display: none;
	}
	
	.rooms-one_content-column{
		order:1;
		margin-bottom: 30px;
	}
	
	.rooms-one_image-column{
		order:2;
	}
	
	.rooms-one_image{
		display: block;
	}
	
	.rooms-one_image img{
		width: 100%;
	}
	
	.cta-two .inner-container{
		padding-right: 30px;
	}
	
	.price-block_one-inner{
		border-radius: 15px;
		padding:30px 20px;
	}
	
	.news-block_two-content{
		padding:20px 25px 20px 0px;
	}
	
	.project-detail_list{
		grid-template-columns: auto auto auto auto;
	}
	
}

	
@media only screen and (max-width: 1023px){
	
	.main-header .main-box .logo-box {
		position:relative;
		left:0px;
		top:0px;
		right:0px;
		bottom:0px;
		margin:0px;
		text-align:left;
	}
	
	.main-header .outer-box{
		position: static;
		display:block;
	}
	
	.main-header .mobile-nav-toggler{
		display:block;
	}
	
	.main-header .sticky-header .mobile-nav-toggler{
		display:block;
	}
	
	.main-header .nav-outer,
	.main-header .sticky-header .main-menu{
		display:none;
	}
	
	.main-header #navbarSupportedContent{
		display:block;
	}
	
	.main-header .mCSB_inside > .mCSB_container{
		margin-right:0px;
	}

	.main-header .main-menu{
		display: none;
	}
	
	.mobile-menu .navigation li.has-mega-menu > .mega-menu {
		display: none;
		overflow: hidden;
	}
	
	.main-header .mobile-menu .navigation li.has-mega-menu .mega-menu .mega-menu-bar .column h6{
		display:none;
	}
	
	.main-header .mobile-menu .navigation li.has-mega-menu .mega-menu .mega-menu-bar .column{
		width:100%;
	}
	
	h2 {
		line-height: 50px;
		font-size: 40px;
	}
	
	.slider-two_heading{
		font-size: 70px;
	}
	
	.service-four .inner-container{
		grid-template-columns: auto auto auto auto;
	}
	
	.cta-three_title{
		margin-bottom: 25px;
	}
	
	.project-detail_list{
		grid-template-columns: auto auto auto;
	}
	
}

@media only screen and (max-width: 990px){
	
	.main-header.header-style-one .main-header_button{
		display:block;
	}
	
	.main-header .header-lower .logo-box .logo{
		padding-top:20px;
		padding-bottom:20px;
	}

	.slider-one_text,
	.slider-one_content-inner{
		max-width:100%;
	}
	
	.body-lines,
	.header-top,
	.faq-one .image-column,
	.features-three_dotted,
	.features-three_pattern,
	.features-three_pattern-two,
	.features-three_image,
	.about-three_image-two,
	.about-three_image,
	.slider-one_heading br{
		display: none;
	}
	
	.about-three p,
	.about-three_bold,
	.about-three .sec-title{
		max-width:100%;
	}
	
	.main-header{
		position:relative;
		top:0px;
		min-height: 90px;
	}
	
	.main-header.header-style-one .header-lower .inner-container{
		padding: 0px 0px;
		border-radius: 0px;
	}
	
	.header-style-two{
		background-color: var(--white-color);
	}
	
	.main-header.header-style-two .header-lower .inner-container{
		padding: 0px 0px;
	}
	
	.main-header.header-style-two .header-lower .inner-container:before{
		display: none;
	}
	
	.main-header.header-style-two .header-lower .inner-container .logo-box:before{
		display: none;
	}
	
	.main-header.header-style-two .header-lower .inner-container .logo-box .logo{
		padding: 20px 0px;
	}
	
	.main-header.header-style-three{
		top:0px;
	}
	
	.main-header.header-style-three .header-lower .inner-container{
		padding: 0px 0px;
	}
	
	.slider-three .swiper-slide{
		padding:180px 0px 200px;
	}
	
	.page-title{
		padding-top: 120px;
	}
	
	.main-header.header-style-one .header-lower .logo-box .logo::before{
		border-radius: 0px 0px;
	}
	
	.slider-one .swiper-slide {
		padding: 140px 0px 140px;
	}
	
	.slider-three_heading{
		padding-right:0px;
	}
	
	.testimonial-block_one-info{
		padding: 0px 0px;
		padding-left: 30px;
	}
	
	.testimonial-block_one-author{
		position:relative;
		margin-bottom: 25px;
	}
	
	.testimonial-block_one-inner::after{
		display: none;
	}
	
	.testimonial-block_one-inner::before{
		left:0px;
		bottom:0px;
		border-radius:0px 0px 0px 0px;
	}
	
	.testimonial-block_one-inner{
		padding:30px 20px 25px 0px;
	}
	
	.testimonial-block_one-text{
		padding-left: 30px;
	}
	
	
	.blog-one .news-block_one{
		min-height:auto;
	}
	
	.about-two_image,
	.slider-two .curve-one,
	.slider-two .curve-two,
	.slider-two_big-title{
		display: none;
	}
	
	.slider-two .swiper-slide{
		padding-top: 140px;
	}
	
	.about-two_image-two{
		margin-top: 30px;
		margin-left:0px;
		display: block;
	}
	
	.about-two_image-two img{
		width: 100%;
		display: block;
	}
	
	.rooms-two .room-block_one:nth-of-type(1) .column:first-child,
	.rooms-two .room-block_one:nth-of-type(3) .column:first-child {
		order: 2;
	}
	
	.rooms-two .room-block_one:nth-of-type(2) .column:first-child{
		order:2;
	}
	
	.rooms-two .room-block_one:nth-of-type(2) .column:nth-child(2){
		order:1;
		margin-bottom:20px;
	}

	.rooms-two .room-block_one:nth-of-type(1) .column:last-child,
	.rooms-two .room-block_one:nth-of-type(3) .column:last-child {
		order: 1;
		margin-bottom:20px;
	}
	
	.slider-three{
		padding-top: 140px;
	}
	
	.service-four .inner-container{
		grid-template-columns: auto auto auto;
	}

	.news-three_blocks-outer::before{
		display: none;
	}
	
	.blog-three .swiper-container{
		margin-right:0px;
	}

	.blog-three{
		padding-bottom: 60px;
		padding-top: 110px;
	}
	
	.newsletter-box_two{
		width: 100%;
	}
	
	.newsletter-box_two .form-group{
		max-width: 100%;
		width: 100%;
	}
	
	.newsletter-box_two .form-group input[type="text"],
	.newsletter-box_two .form-group input[type="email"]{
		width: 100%;
		max-width: 100%;
	}
	
	.team-image-box{
		margin-bottom: 40px;
	}
	
	.project-detail_image{
		margin-bottom: 30px;
	}
	
	
	
	.dark-body .main-header .header-lower{
		background-color: var(--white-color);
	}

}

@media only screen and (max-width: 820px){
	
	.main-footer.style-three .footer-two_logo-widget{
		padding: 60px 25px;
	}
	
	.slider-two_heading span,
	.about-one_rotate-title{
		display: none;
	}
	
	.about-two_counter-outer{
		padding-left: 0px;
	}
	
	.about-one_content{
		padding-left: 0px;
	}
	
	.counter-block_one{
		margin-bottom: 25px;
	}
	
	.feature-block_one-content{
		position:relative;
		bottom:0px;
		left:0px;
		right:0px;
		background-color: var(--white-color);
	}
	
	.feature-block_one-image{
		background-color: var(--white-color);
	}
	
	.features-one .swiper-container .swiper-slide.swiper-slide-active .feature-block_one-content{
		bottom:0px;
	}
	
	.cta-two_title{
		margin-bottom: 25px;
	}
	
	.slider-two_heading {
		font-size: 70px;
		line-height: 80px;
	}
	
}

@media only screen and (max-width: 767px){
	
	.main-header .header-upper .logo-outer {
		position:relative;
		width:100%;
	}
	
	.main-header .sticky-header .outer-box{
		display:block;
		right: 0px;
		left: auto;
		top:0px;
	}

	.main-header .main-menu{
		width:100%;
		display:none;
	}
	
	.main-header .main-menu .navbar-collapse > .navigation li.dropdown:after,
	.main-header .main-menu .navigation > li > ul:before{
		display:none !important;	
	}
	
	.main-header .main-box .logo-box{
		float:none;
		text-align:center;
		padding-bottom:10px;
	}

	.main-header .header-lower .outer-box{
		position:relative;
		z-index:12;
		display:block;
	}
	
	.main-header .main-menu .navbar-header .navbar-toggler{
		display: inline-block;
		z-index: 12;
		width: 50px;
		height: 40px;
		float: none;
		padding: 0px;
		text-align: center;
		border-radius: 0px;
		background: none;
		border: 1px solid #ffffff;
	}
	
	.main-header .main-menu .navbar-header .navbar-toggler .icon-bar{
		position: relative;
		background: #ffffff;
		height: 2px;
		width: 26px;
		display: block;
		margin:0 auto;
		margin:5px 11px;
	}
	
	.main-header .nav-outer .mobile-nav-toggler{
		display: block;
	}
	
	.main-header #navbarSupportedContent{
		display:block;
	}
	
	.main-header .mCSB_inside > .mCSB_container{
		margin-right:0px;
	}
	
	.main-header.header-style-one .main-header_button{
		display:none;
	}
	
	.cta-two .curve-one,
	.cta-two .curve-two,
	.cta-one_pattern,
	.clock-wrapper{
		display: none;
	}
	
	.coming-soon .content .content-inner h2{
		margin-bottom: 30px;
	}

	.time-counter .time-countdown{
		margin-bottom: 30px;
	}
	
	.about-one {
		padding-bottom: 10px;
	}
	
	.cta-one_heading {
		font-size: 50px;
		line-height: 60px;
	}
	
	.cta-one{
		padding: 80px 0px 80px;
	}
	
	.cta-one_styled{
		font-size: 100px;
	}
	
	.blog-one .news-block_one{
		width:100%;
	}
	
	.blog-one .news-block_one.active{
		flex:0 0 100%;
	}
	
	.footer-bottom_navs li{
		margin-left: 0px;
		margin-right: 10px;
	}
	
	.news-block_two-content{
		padding: 25px 25px;
	}
	
	.counter-block_two-inner{
		text-align:center;
	}
	
	.counter-block_two-inner .border-layer{
		display: none;
	}
	
	.counter-block_two-text{
		padding: 0px 0px;
	}
	
	.service-two{
		padding-bottom: 80px;
	}
	
	.features-two_content{
		padding: 35px 20px 35px;
	}
	
	.project-detail_list{
		grid-template-columns: auto auto;
	}
	
	.features-one-arrow{
		position:relative;
		right:0px;
		top:0px;
	}
	
}

@media only screen and (max-width: 599px){
	
	.team-one-arrow{
		position:relative;
		text-align:center;
		margin-top: 30px;
	}
	
	.team-one .team-carousel-prev,
	.team-one .team-carousel-next{
		position:relative;
		margin: 0px 3px;
		display: inline-block;
	}
	
	.team-one .lower-box{
		margin-top: 0px;
	}
	
	.cta-one_heading {
		font-size: 40px;
		line-height: 44px;
	}
	
	.price-block_one-price{
		font-size: 44px;
	}
	
	.price-block_one-list li{
		font-size: 18px;
		margin-bottom: 10px;
	}
	
	.service-three_pattern,
	.about-three .pattern-one,
	.counter-two .pattern-two,
	.counter-two .pattern-one,
	.pricing-one .pattern-two,
	.pricing-one .pattern-one,
	.skill-one_icon,
	.cta-two_title br,
	.cta-one_styled{
		display: none;
	}
	
	.slider-two_heading {
		font-size: 50px;
		line-height: 60px;
	}
	
	.counter-block_two .count-box{
		margin-top:0px;
	}
	
	.counter-block_two-text{
		font-size: 24px;
		line-height: 34px;
	}
	
	.counter-block_two .count-box{
		font-size: 70px;
	}
	
	.team-detail_list li,
	.education-block li,
	.project-detail p,
	.project-detail_list-two li,
	.testimonial-block_one-text,
	.price-block_one-text,
	.room-block_one-text,
	.service-block_two-text{
		font-size: 16px;
		line-height: 30px;
	}
	
	.rooms-three-arrow{
		position:relative;
	}
	
	.service-four .inner-container{
		grid-template-columns: auto auto;
	}
	
	.team-detail_form .inner-container{
		padding: 25px 25px;
	}
	
	.team-detail .content-box .title{
		margin-bottom: 15px;
	}
	
	.team-detail .content-box .title span{
		display: inline-block;
		top:0px;
		line-height: 1em;
	}
	
	.blog-detail .social-links{
		margin-top: 15px;
	}
	
	.blog-detail .social-links a{
		margin-left:0px;
		margin-right:15px;
	}
	
	.blog-detail_author-image{
		position:relative;
		margin-bottom: 15px;
	}
	
	.blog-author-post_inner{
		padding-left: 0px;
	}
	
	.blog-more_posts .prev-posts{
		width:100%;
		display: block;
		padding: 0px 0px;
		text-align:center;
		margin-bottom: 25px;
	}
	
	.blog-more_posts .prev-posts .post-image{
		position:relative;
		margin:0 auto;
		margin-bottom: 25px;
	}
	
	
	.blog-more_posts .next-posts{
		width:100%;
		display: block;
		padding: 0px 0px;
		text-align:center;
	}
	
	.blog-more_posts .next-posts .post-image{
		position:relative;
		margin:0 auto;
		margin-bottom: 25px;
	}
	
	.blog-detail_content{
		padding: 25px 20px;
	}
	
	.footer-list li a{
		font-size: 16px;
	}
	
	.question-widget .inner-box{
		padding: 45px 20px;
	}
	
	.reply-comment{
		margin-left:0px;
	}
	
	.comment-form .theme-btn{
		margin-bottom:25px;
	}
	
}

@media only screen and (max-width: 479px) {
	
	h2 {
		line-height: 44px;
		font-size: 34px;
	}
	
	.shop-detail .prod-tabs .tab-btns .tab-btn{
		width: 100%;
		font-size: 16px;
		text-align: center;
		margin-right: 0px;
		margin-bottom: 10px;
	}
	
	.about-widget{
		display: none;
	}
	
	.comment-box .comment{
		padding-left: 0px;
	}
	
	.comment-box .author-thumb{
		position:relative;
		margin-bottom: 25px;
	}
	
	.reply-comment,
	.comments-area{
		padding: 20px 20px;
	}
	
	.reply-comment{
		margin-left: 0px;
	}
	
	.shipping-form .check-box label{
		font-size: 14px;
	}
	
	.voucher-box .form-group{
		padding-right: 0px;
	}
	
	.voucher-box .form-group button{
		position:relative;
		width:100%;
		text-align: center;
	}
	
	.order-box{
		padding: 20px 15px;
	}
	
	.blog-detail blockquote .blockquote-inner{
		padding: 0px 0px;
	}
	
	.blog-detail blockquote .quote{
		position:relative;
		display: block;
		margin-bottom: 20px;
	}
	
	.post-share-options .post-tags strong{
		width: 100%;
		display: block;
		margin-bottom: 15px;
	}
	
	.post-share-options .post-tags{
		gap: 12px;
		margin-bottom: 20px;
	}
	
	.post-share-options .social-links span{
		font-size: 15px;
	}
	
	.post-share-options .social-links a{
		font-size: 15px;
	}
	
	.post-share-options .post-tags a{
		font-size: 14px;
		padding: 8px 18px;
		border-radius: 50px;
		display: inline-block;
	}
	
	.error-section h1{
		font-size: 140px;
	}
	
	.map-one iframe{
		height: 250px;
	}
	
	h1 {
		line-height: 60px;
		font-size: 50px;
	}
	
	h3 {
		line-height: 36px;
		font-size: 26px;
	}
	
	.main-header.header-style-one .header-lower .logo-box .logo{
		padding:15px 0px 15px 15px;
	}
	
	.main-header .outer-box,
	.main-header.header-style-one .header-lower .header-navbar {
		gap: 10px;
	}
	
	.room-feature_two{
		position:relative;
		left:0px;
		width: 100%;
		max-width: 100%;
	}
	
	.team-one .lower-box .lower-text{
		text-transform: capitalize;
	}
	
	.team-block_one-overlay{
		padding: 15px 20px;
	}
	
	.team-block_one-text{
		display: none;
	}
	
	.news-block_one-date{
		font-size: 18px;
	}
	
	.slider-two_heading {
		font-size: 34px;
		line-height: 44px;
	}
	
	.cta-three_title,
	.about-one_list li,
	.project-detail p,
	.more-projects a,
	.news-block_four-text,
	.accordion-box .block .content .text,
	.testimonial-block_two .inner .text,
	.slider-two_text{
		font-size: 16px;
		line-height: 28px;
	}
	
	.room-block_one-list li{
		flex:0 0 calc(100% - 0px);
	}
	
	.room-block_one .images-outer .room-block_one-image:nth-child(1){
		display: none;
	}
	
	.service-block_three-inner{
		padding: 20px 20px;
	}
	
	.price-block_one-icon{
		right: 15px;
		top: 15px;
		font-size: 50px;
	}
	
	.slider-three .form-outer{
		padding: 30px 25px;
	}
	
	.service-four .inner-container{
		grid-template-columns: auto;
	}
	
	.accordion-box .block .acc-btn{
		font-size: 18px;
		padding:20px 60px 20px 20px;
	}
	
	.blog-three .swiper-container{
		padding: 0px 0px;
	}
	
	.news-block_three-meta li{
		font-size: 13px;
	}
	
	.news-block_three-content{
		padding: 20px 15px 25px;
	}
	
	.project-detail_list{
		grid-template-columns: auto;
	}
	
	.register-one .form-column .inner-column{
		padding: 20px 15px;
	}
	
	.more-projects a{
		font-size: 12px;
		padding: 12px 12px;
	}
	
	.btn-style-one{
		font-size: 14px;
	}
	
	.comment-form .theme-btn{
		margin-bottom: 25px;
	}
	
	.comment-form-outer .rating strong{
		margin-left: 0px;
	}
	
	.question-widget .phone{
		font-size: 18px;
	}
	
	
	
}