/* Roisk Luxury Hotel Business HTML-5 Template */

/* RTL Style CSS Code */

.rtl .row,
.rtl .d-flex{
	flex-direction: row-reverse;
}

.rtl .main-menu .navigation > li{
	float:right;
}

.rtl .sticky-header .logo{
	float:right;
	padding-left:25px;
}

.rtl .main-menu{
	text-align:right;
}

.rtl .main-header .main-menu .navigation > li > ul > li > ul > li,
.rtl .main-header .main-menu .navigation > li > ul > li,
.rtl .main-menu .navigation > li > ul > li{
	text-align:right;
}

.rtl .main-header .main-menu .navigation > li > ul{
	padding:20px 25px 20px 25px;
}

.rtl .main-header .main-menu .navigation > li > ul > li > a:before{
	right:0px;
	left:auto;
	opacity: 0;
}

.rtl .main-menu .navigation > li > ul > li:hover > a{
	padding-left:0px !important;
	padding-right:30px;
}

.rtl .main-menu .navigation > li > ul > li > a:before{
	left:auto;
	right:8px;
}

.rtl .main-menu .navigation > li > ul > li.dropdown > a:after{
	right:auto;
	left:10px;
	transform:rotate(180deg);
}

.rtl .main-menu .navigation > li > ul > li > ul{
	left:auto;
	right:100%;
}

.rtl .main-menu .navigation li > ul > li.dropdown:hover > ul{
	
}

.rtl .main-header .main-menu .navigation > li > ul > li > ul{
	right:100%;
	left:auto;
}

.rtl .main-menu .navigation > li > ul{
	left:auto;
	right:0px;
}

.rtl .main-menu .navigation > li.dropdown:hover > ul{
	left:auto;
	right:0px;
}

.rtl .main-menu .navigation > li > ul > li > ul > li:hover > a{
	padding-left:0px;
	padding-right:30px;
}

.rtl .main-menu .navigation > li > ul > li > ul > li > a:before{
	left:auto;
	right:8px;
	opacity: 0;
}

.rtl .main-header .main-menu .navigation > li:first-child{
	margin-right: 0px;
}

.rtl .main-header .main-menu .navigation > li:last-child{
	margin-right: 25px;
}

.rtl .search-popup .form-group input[type="text"],
.rtl .search-popup .form-group input[type="search"]{
	text-align: right;
}

.rtl .about-sidebar .content-box,
.rtl .search-popup .form-group input[type="submit"],
.rtl .search-popup .form-group button{
	text-align: right;
}

.rtl .search-popup .form-group input[type="submit"],
.rtl .search-popup .form-group button{
	right: 0px;
	left: auto;
}

.rtl .about-sidebar_list li{
	padding-left:0px;
	padding-right:30px;
}

.rtl .about-sidebar_list li:before{
	right:0px;
	left:auto;
}

.rtl .about-sidebar .social-box{
	text-align:right;
	margin-right:35px;
}

.rtl .coming-soon .emailed-form .form-group input[type="submit"],
.rtl .coming-soon .emailed-form button{
	left:5px;
	right:auto;
}

.rtl .default-form .form-group input[type="text"],
.rtl .default-form .form-group input[type="password"],
.rtl .default-form .form-group input[type="tel"],
.rtl .default-form .form-group input[type="email"],
.rtl .default-form .form-group textarea,
.rtl .coming-soon .emailed-form .form-group input[type="text"],
.rtl .coming-soon .emailed-form .form-group input[type="tel"],
.rtl .coming-soon .emailed-form .form-group input[type="email"],
.rtl .coming-soon .emailed-form .form-group textarea,
.rtl .shipping-form .form-group input[type="text"],
.rtl .shipping-form .form-group input[type="password"],
.rtl .shipping-form .form-group input[type="tel"],
.rtl .shipping-form .form-group input[type="email"],
.rtl .shipping-form .form-group select,
.rtl .shipping-form .form-group textarea,
.rtl .shipping-form .form-group .ui-selectmenu-button.ui-button,
.rtl .contact-form .form-group input[type="text"],
.rtl .contact-form .form-group input[type="password"],
.rtl .contact-form .form-group input[type="tel"],
.rtl .contact-form .form-group input[type="email"],
.rtl .contact-form .form-group select,
.rtl .contact-form .form-group textarea,
.rtl .comment-form .form-group input[type="text"],
.rtl .comment-form .form-group input[type="password"],
.rtl .comment-form .form-group input[type="tel"],
.rtl .comment-form .form-group input[type="email"],
.rtl .comment-form .form-group textarea,
.page-wrapper.rtl{
	text-align:right;
}

.rtl .sec-title_title{
	display: block;
}




.rtl .main-header.header-style-one .header-lower .header-navbar{
	padding:0px 35px 0px 15px;
}

.rtl .main-header.header-style-one .header-lower .header-navbar:after{
	left:auto;
	right:-60px;
	border-left:none;
	border-bottom: 90px solid var(--white-color);
    border-right: 60px solid transparent;
}

.rtl .main-header.header-style-one .header-lower .header-navbar:before{
	right:-60px;
	left:auto;
}

.rtl .main-header.header-style-one .header-lower .header-navbar .nav-outer:before{
	border-radius:80px 0px 0px 80px;
}

.rtl .main-header.header-style-one .header-lower .logo-box .logo:before{
	border-radius:0px 80px 80px 0px;
}

.rtl .main-header.header-style-one .header-lower .logo-box .logo:after{
    left: -62px;
    right: auto;
    border-right: none;
    border-top: 90px solid var(--main-color);
    border-left: 63px solid transparent;
}

.rtl .main-header.header-style-one .header-lower .logo-box:before{
	right:auto;
	left:-18px;
	border-top: none;
	border-right: none;
	border-bottom: 20px solid var(--main-color);
    border-left: 18px solid transparent;
}

.rtl .main-header.header-style-one .header-lower .logo-box .logo{
	padding-right: 40px;
}

.rtl .main-header .main-menu .navigation > li:last-child{
	margin-right:15px !important;
}

.rtl .main-header.header-style-two .header-lower .inner-container{
	padding-left:25px;
	padding-right:0px;
}

.rtl .header-top .social-box{
	margin-left:0px;
	margin-right:20px;
}

.rtl .main-header.header-style-two .header-lower .logo-box:before{
	border-radius: 10px 80px 80px 10px;
	border-right:0px;
    border-left: 7px solid var(--main-color);
}

.rtl .search-popup .close-search{
	left:25px;
	right:auto;
}

.rtl .slider-one_content{
	display: flex;
	justify-content:end;
}

.rtl .slider-one .swiper-slide{
	overflow: hidden;
}

.rtl .slider-one_image-layer{
	left:-80px;
	right:auto;
}

.rtl .feature-block_one-arrow{
	left:0px;
	right:auto;
}

.rtl .news-widget-block{
	padding-left:0px;
	padding-right:85px;
}

.rtl .news-widget_image{
	right:0px;
	left:auto;
}

.rtl .counter-block_one-inner{
	padding-left: 0px;
	padding-right: 80px;
}

.rtl .counter-block_one-icon{
	right:0px;
	left:auto;
}

.rtl .about-two_image-three{
	left:20px;
	right:auto;
}

.rtl .room-block_one-list li{
	flex-direction: row-reverse;
}

.rtl .about-one_list li{
	padding-left: 0px;
	padding-right: 30px;
}

.rtl .features-two_list li .icon,
.rtl .about-three_info-author,
.rtl .footer-contact_list li .icon,
.rtl .price-block_one-list li:before,
.rtl .about-one_list li:before{
	right:0px;
	left:auto;
}

.rtl .default-count-box{
	left:0px;
	right:auto;
}

.rtl .price-block_one-icon{
	left:30px;
	right:auto;
}

.rtl .features-two_list li,
.rtl .price-block_one-list li{
	padding-left:0px;
	padding-right: 30px;
}

.rtl .news-block_two-content{
	padding-left: 20px;
	padding-right: 0px;
}

.rtl .footer-contact_list li{
	padding-left:0px;
	padding-right: 70px;
}

.rtl .slider-three_heading{
	padding-right: 0px;
}

.rtl .about-three p,
.rtl .about-three_bold,
.rtl .about-three .sec-title,
.rtl .slider-three_text{
	max-width: 100%;
}

.rtl .property-search-form .form-group input,
.rtl .newsletter-box .form-group input[type="text"],
.rtl .newsletter-box .form-group input[type="email"]{
	text-align:right;
}

.rtl .newsletter-box .form-group button{
	left:5px;
	right:auto;
}

.rtl .about-three_content{
	padding-left: 0px;
	padding-right: 40px;
}

.rtl .about-three_info-inner{
	padding-left:0px;
	padding-right: 100px;
}

.rtl .news-block_four-button::after,
.rtl .faq-one_image-two,
.rtl .about-three_image-two{
	display: none;
}

.rtl .rooms-three-arrow{
	left:0px;
	right:auto;
}

.rtl .features-three_list li{
	padding-left:0px;
	padding-right:25px;
}

.rtl .features-three_list li::before{
	right:0px;
	left:auto;
}

.rtl .features-three_image{
	margin-left:20px;
}

.rtl .faq-one_image{
	margin-right:15px;
}

.rtl .accordion-box .block .icon-outer{
	left:16px;
	right:auto;
}

.rtl .accordion-box .block .acc-btn{
	padding-right:30px;
	padding-left: 70px;
}

.rtl .blog-three .swiper-container{
	margin-left:-350px;
	margin-right:0px;
}

.rtl .news-three_blocks-outer::before{
	right:80px;
	left:-800px;
}

.rtl .newsletter-box_two .form-group input[type="text"],
.rtl .newsletter-box_two .form-group input[type="email"]{
	padding-right: 25px;
	text-align:right;
}

.rtl .newsletter-box_two .form-group button{
	left:5px;
	right:auto;
}

.rtl .service-detail_list li,
.rtl .team-detail_list li,
.rtl .education-block{
	padding-left:0px;
	padding-right:30px;
}

.rtl .service-detail_list li:before,
.rtl .team-detail_list li:before,
.rtl .education-block:before{
	right:0px;
	left:auto;
}

.rtl .category-list li span{
	left:10px;
	right:auto;
}

.rtl .sidebar .related-posts .post{
	padding-left: 0px;
	padding-right: 150px;
}

.rtl .sidebar .related-posts .post .post-thumb{
	right:0px;
	left:auto;
}

.rtl .item-quantity{
	margin-right:0px;
	margin-left:30px;
}

.rtl .comment-box .comment{
	padding-left:0px;
	padding-right:80px;
}

.rtl .comment-box .author-thumb{
	right:0px;
	left:auto;
}

.rtl .order-totals li span{
	left:25px;
	right:auto;
}

.rtl .order-box .order-total span,
.rtl .cart-totals li span{
	left:0px;
	right:auto;
}

.rtl .post-widget .post{
	padding-left:0px;
	padding-right:160px;
}

.rtl .post-widget .post .thumb{
	right:0px;
	left:auto;
}

.rtl .blog-author-post_inner{
	padding-left:0px;
	padding-right:180px;
}

.rtl .blog-detail_author-image{
	right:0px;
	left:auto;
}

.rtl .comment-form-outer .rating{
	margin-right: 15px;
}

.rtl .comment-form-outer .rating strong{
	margin-left:0px;
}

.rtl .slider-one-arrow{
	left:0px;
	right:auto;
}

.rtl .features-one-arrow{
	left:0px;
	right:auto;
}

.rtl .project-detail_list li{
	padding-left:0px;
	padding-right:80px;
}

.rtl .project-detail_list li .icon{
	right:0px;
	left:auto;
}

.rtl .contact-one_info-list li{
	padding-left:0px;
	padding-right:100px;
}

.rtl .contact-one_info-list li .icon{
	right:0px;
	left:auto;
}

/* Roisk Luxury Hotel Business HTML-5 Template */

@media only screen and (max-width: 1780px){

	

}

@media only screen and (max-width: 1600px){
	
	
	
}

@media only screen and (max-width: 1550px){

	.rtl .rooms-one_pattern{
		display: none;
	}

	.rtl .main-header.header-style-one .header-lower .inner-container{
		padding-right:0px;
	}

}

@media only screen and (max-width: 1360px){
	
	
	
}

@media only screen and (max-width: 1350px){
	
	.rtl .main-header.header-style-one .header-lower .inner-container{
		padding-left:20px;
	}
	
	.rtl .main-header.header-style-one .header-lower .header-navbar .main-header_button{
		display: none;
	}
	
	.rtl .main-header.header-style-one .header-lower .logo-box .logo{
		padding-right: 0px;
	}
	
	.rtl .main-header.header-style-one .header-lower .header-navbar{
		padding: 0px 0px;
	}
	
}

@media only screen and (max-width: 1300px){
	
	
	
}

@media only screen and (max-width: 1240px){
	
	.rtl .blog-three .swiper-container{
		margin:0px 0px;
	}
	
}

@media only screen and (max-width: 1140px){
	
	
	
}

@media only screen and (max-width: 1023px){
	
	
	
}

@media only screen and (max-width: 990px){
	
	.rtl .main-header.header-style-one .header-lower .logo-box .logo::before{
		border-radius:0px 0px;
	}
	
	.rtl .main-header.header-style-two .header-lower .inner-container{
		padding-left: 0px;
	}
	
	.rtl .main-header.header-style-one .header-lower .inner-container{
		padding-left:0px;
	}
	
	.rtl .about-three .pattern-one{
		display: none;
	}
	
	.rtl .about-three_content{
		padding-right: 0px;
	}
	
}

@media only screen and (max-width: 767px){
	
	.rtl .news-block_two-content{
		padding-right: 20px;
	}
	
}

@media only screen and (max-width: 599px){
	
	.rtl .blog-author-post_inner,
	.rtl .comment-box .comment{
		padding-right: 0px;
	}
	
	.rtl .comment-box .author-thumb{
		position:relative;
	}
	
}

@media only screen and (max-width: 479px) {
	
	
	
}