/* Roisk Luxury Hotel Business HTML-5 Template */

/*** 

====================================================================
	Services One
====================================================================

***/

.service-one{
	position:relative;
	overflow: hidden;
	padding-bottom: 80px;
}

.service-one .inner-container{
	position:relative;
	padding: 110px 0px 0px;
}

.service-one_pattern{
	position:absolute;
	right:-130px;
	top:0px;
	bottom:0px;
	width: 180%;
	height: 380px;
	background-repeat: repeat-x;
	background-color: var(--main-color);
}

.service-block_one{
	position:relative;
	margin-bottom: 30px;
}

.service-block_one-inner{
	position:relative;
	overflow: hidden;
	text-align: center;
	padding: 10px;
	background-color: var(--white-color);
	box-shadow: 0px 0px 15px rgb(150, 150, 150);
}

.service-block_one-inner:before{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	opacity:0;
	transform: scale(0.2,1);
	-webkit-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
	background-color: var(--main-color);
}

.service-block_one-inner:hover::before{
	opacity:1;
	transform: scale(1,1);
}

.service-block_one-icon{
	position:relative;
	width: 130px;
	height: 130px;
	margin:0 auto;
	font-size: 54px;
	line-height: 140px;
	border-radius: 150px;
	color: var(--main-color);
	/* border-bottom: 7px solid #f5f5f5; */
	font-family: "flaticon_roisk-flat";
}

.service-block_one-inner:hover .service-block_one-icon{
	animation: jello 1s;
	color: var(--white-color);
	border-color: var(--white-color);
}

.service-block_one-title{
	position:relative;
	font-weight: 600;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 35px;
	text-transform: uppercase;
}

.service-block_one-title a{
	position:relative;
	color: var(--color-two);
}

.service-block_one-inner:hover .service-block_one-text,
.service-block_one-inner:hover .service-block_one-title a{
	color: var(--white-color);
}

.service-block_one-text{
	position:relative;
	line-height: 28px;
	opacity:0.80;
	color: var(--color-two);
}

.service-block_one-arrow{
	position:absolute;
	right:0px;
	bottom:0px;
	width: 30px;
	height: 30px;
	font-size: 15px;
	line-height: 33px;
	text-align: center;
	color: var(--white-color);
	background-color: var(--main-color);
	font-family: "flaticon_roisk-flat";
}

.service-block_one-inner:hover .service-block_one-arrow{
	color: var(--white-color);
	background-color: var(--color-two);
}

/*** 

====================================================================
	Services Two
====================================================================

***/

.service-two{
	position:relative;
	overflow: hidden;
	padding:110px 0px 110px;
	background-size: cover;
	background-attachment: fixed;
}

.service-two:before{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	opacity:0.70;
	background-color: var(--color-two);
}

.service-block_two{
	position:relative;
	margin-bottom: 30px;
}

.service-block_two-inner{
	position:relative;
	overflow: hidden;
	border-radius: 20px;
	padding: 45px 30px 45px;
	background-color: #161921;
}

.service-block_two-inner:before{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	opacity:0;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	background-color: var(--main-color);
	transform:scale(0.2,1);
}

.service-block_two-inner:hover::before{
	opacity:1;
	transform:scale(1,1);
}

.service-block_two-icon{
	position:relative;
	line-height:1em;
	font-size: 70px;
	display: inline-block;
	color: var(--white-color);
	font-family: "flaticon_roisk-flat";
}

.service-block_two-inner:hover .service-block_two-icon{
	animation: jello 1s;
}

.service-block_two-title{
	position:relative;
	font-weight: 500;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 15px;
	text-transform: capitalize;
}

.service-block_two-title a{
	position:relative;
	color: var(--white-color);
}

.service-block_two-title:before{
	position:absolute;
	content:'';
	left:0px;
	bottom:0px;
	width: 80px;
	height:1px;
	background-color: rgba(var(--white-color-rgb), 0.20);
}

.service-block_two-text{
	position:relative;
	font-size: 18px;
	line-height: 32px;
	margin-bottom: 30px;
	color: var(--white-color);
}

.service-block_two-more{
	position:relative;
	font-size: 18px;
	font-weight: 500;
	letter-spacing:1px;
	color: var(--white-color);
	text-transform: uppercase;
	font-family: "Barlow Condensed", sans-serif;
}

/*** 

====================================================================
	Services Three
====================================================================

***/

.service-three{
	position:relative;
	padding:110px 0px 80px;
	background-color:#f6f7f9;
	background-position: right top;
	background-repeat: repeat-y;
}

.service-three_pattern{
	position:absolute;
	left:0px;
	top:350px;
	width: 339px;
	height:594px;
}

.service-block_three{
	position:relative;
	margin-bottom: 30px;
}

.service-block_three-inner{
	position:relative;
	overflow: hidden;
	border-radius: 20px;
	padding: 45px 30px 45px;
	background-color: var(--white-color);
}

.service-block_three-icon{
	position:relative;
	width: 70px;
	height: 70px;
	font-size: 42px;
	line-height:70px;
	border-radius: 15px;
	text-align: center;
	background-color:#f6f7f9;
	color: var(--main-color);
	font-family: "flaticon_roisk-flat";
}

.service-block_three-inner:hover .service-block_three-icon{
	transform:rotateY(180deg);
	color: var(--white-color);
	background-color: var(--main-color);
}

.service-block_three-title{
	position:relative;
	font-weight: 500;
	margin-top: 20px;
	text-transform: uppercase;
}

.service-block_three-title a{
	position:relative;
	color: var(--color-two);
}

.service-block_three-title a:hover{
	color: var(--main-color);
}

.service-block_three-image{
	position:relative;
	margin-top: 25px;
	overflow: hidden;
	border-radius: 20px;
	background-color: var(--main-color);
}

.service-block_three-image img{
	position:relative;
	width:100%;
	display: block;
}

.service-block_three-inner:hover .service-block_three-image img{
	opacity:0.70;
	transform: scale(1.04,1.04);
}

/*** 

====================================================================
	Services Four
====================================================================

***/

.service-four{
	position:relative;
	padding:110px 0px 80px;
	background-color:#f6f8fa;
	background-position: left bottom;
	background-repeat: repeat-x;
}

.service-four .inner-container{
	position:relative;
	display: grid;
	grid-gap: 25px;
	grid-template-columns: auto auto auto auto auto;
}

.service-block_four{
	position:relative;
	margin-bottom: 30px;
}

.service-block_four-inner{
	position:relative;
	overflow: hidden;
	text-align: center;
}

.service-block_four-icon_outer{
	position:relative;
	width: 150px;
	height: 150px;
	margin:0 auto;
	padding-top: 20px;
	border-radius: 150px;
}

.service-block_four-icon_outer:before{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	background:url(../images/icons/circle.html) no-repeat;
}

.service-block_four-icon{
	position:relative;
	width: 110px;
	height: 110px;
	margin:0 auto;
	font-size: 40px;
	line-height: 110px;
	border-radius: 100px;
	color: var(--main-color);
	background-color: var(--white-color);
	font-family: "flaticon_roisk-flat";
}

.service-block_four-inner:hover .service-block_four-icon{
	transform:rotateY(180deg);
	color: var(--white-color);
	background-color: var(--main-color);
}

.service-block_four-title{
	position:relative;
	font-weight: 500;
	margin-top: 20px;
	text-transform: uppercase;
}

.service-block_four-title a{
	position:relative;
	color: var(--color-two);
}

.service-block_four-title a:hover{
	color: var(--main-color);
}



/***

====================================================================
	Sidebar Page Container
====================================================================

***/

.sidebar-page-container{
	position:relative;
	padding:120px 0px 90px;
}

.sidebar-page-container .content-side,
.sidebar-page-container .sidebar-side{
	margin-bottom:30px;
}

/* Sidebar Title */

.sidebar-widget{
	position:relative;
	margin-bottom:30px;
}

.sidebar-title{
	position:relative;
	margin-bottom:20px;
	text-transform:uppercase;
}

.sticky-top{
	z-index:1;
	top:110px;
}

/* Search Widget */

.sidebar .search-box .form-group{
	position:relative;
	margin:0px;
}

.sidebar .search-box .form-group input:focus + button{
	background-color: var(--main-color);
}

.sidebar .search-box .form-group input[type="text"],
.sidebar .search-box .form-group input[type="search"]{
	position:relative;
	line-height:28px;
	font-size:18px;
	padding:10px 50px 10px 30px;
	background:none;
	display:block;
	width:100%;
	height:64px;
	border-radius:50px;
	color:var(--black-color);
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	background-color:var(--white-color);
	box-shadow:0px 0px 10px rgba(0,0,0,0.10);
}

.sidebar .search-box .form-group input::placeholder,
.sidebar .search-box .form-group textarea::placeholder{
	color:#666666;
}

.sidebar .search-box .form-group button{
	position:absolute;
	right:0px;
	top:0px;
	bottom: 0px;
	width:64px;
	width:64px;
	display:block;
	cursor:pointer;
	font-size:20px;
	line-height:50px;
	font-weight:normal;
	border-radius:50px;
	color:var(--white-color);
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	background-color: var(--main-color);
}

.sidebar .search-box .form-group button:hover{
	background-color:var(--color-two);
	color:var(--white-color);
}

/* Category List */

.category-list{
	position: relative;
	z-index:1;
}

.category-list li{
	position: relative;
	z-index:1;
	margin-bottom: 15px;
}

.category-list li a{
	position: relative;
	display: block;
	font-size: 20px;
	z-index:1;
	font-weight:500;
	border-radius:5px;
	color: var(--white-color);
	text-transform: capitalize;
	padding: 28px 25px 28px 25px;
	background-color: var(--color-two);
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

.category-list li a:hover::before{
	opacity:0;
}

.category-list li span{
	position: absolute;
	right: 10px;
	top:10px;
	width:58px;
	height:58px;
	font-size:34px;
	line-height:60px;
	text-align:center;
	border-radius:5px;
	display:inline-block;
	color: var(--white-color);
	background-color: var(--main-color);
	font-family: "flaticon_roisk-flat";
}

.category-list li a:hover span{
	background-image:none;
	background-color: var(--black-color);
}

.category-list li a:hover{
	color: var(--white-color);
	background-color: var(--main-color);
}

.category-list li:last-child{
	margin-bottom: 0px;
}

/* Question Widget */

.question-widget{
	position:relative;
}

.question-widget .inner-box{
	position:relative;
	padding:60px 40px;
	border-radius:20px;
	text-align:center;
	background-position: right top;
	background-repeat: no-repeat;
	background-color:var(--black-color);
}

.question-widget-shadow{
	position: absolute;
    left: 0px;
    bottom: 0px;
    width: 107px;
    height: 114px;
    background-position: left bottom;
    background-repeat: no-repeat;
}

.question-widget .icon{
	position:relative;
	font-size:90px;
	line-height:1em;
	color:var(--main-color);
	font-family: "flaticon_roisk-flat";
}

.question-widget .title{
	position:relative;
	margin-top: 30px;
	color:var(--white-color);
}

.question-widget .text{
	position:relative;
	margin-top: 20px;
	font-size:18px;
	line-height:30px;
	margin-bottom:25px;
	color:var(--white-color);
}

.question-widget .phone{
	position:relative;
	font-size: 24px;
	display: flex;
	gap: 15px;
    align-items: center;
    justify-content: center;
	color:var(--white-color);
}

.question-widget .phone .phone-icon{
	position:relative;
	width:44px;
	height:44px;
	font-size: 18px;
	font-weight:700;
	line-height:44px;
	text-align:center;
	border-radius: 50px;
	display: inline-block;
	color:var(--black-color);
	background-color:var(--white-color);
}

.question-widget .phone:hover{
	color:var(--main-color);
}

.service-detail{
	position:relative;
}

.service-detail .inner-box{
	position:relative;
}

.service-detail .image{
	position:relative;
	overflow: hidden;
	margin-bottom: 30px;
	border-radius: 15px;
}

.service-detail .image img{
	position:relative;
	width:100%;
	display:block;
}

.service-detail h2{
	position:relative;
	margin-bottom: 30px;
}

.service-detail h3{
	position:relative;
	margin-bottom: 20px;
}

.service-detail_list{
	position:relative;
}

.service-detail_list li{
	position:relative;
	font-size: 16px;
	margin-bottom: 12px;
	padding-left: 25px;
	color: var(--color-three);
}

.service-detail_list li:before{
	position:absolute;
	content: "\f12b";
	left:0px;
	top:0px;
	color: var(--main-color);
	font-family: "flaticon_roisk-flat";
}

.service-detail .accordion-box{
	border-radius: 15px;
	padding: 35px 25px;
	background-color:#f6f8fb;
}