/* Roisk Luxury Hotel Business HTML-5 Template */

/*** 

====================================================================
	Slider One
====================================================================

***/

.slider-one{
	position:relative;
}

.slider-one_pattern{
	position:absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 855px;
	background-repeat: repeat;
}

.slider-one-arrow{
	position: absolute;
	bottom:0px;
	right: 0px;
	text-align: center;
}

.slider-one .main-slider-prev{
	position: relative;
	z-index: 1;
	width: 73px;
	height: 72px;
	font-size: 24px;
	cursor: pointer;
	line-height: 72px;
	text-align: center;
	display: inline-block;
	color: var(--white-color);
	background-color:var(--color-two);
}

.slider-one .main-slider-prev:hover{
	color: var(--main-color);
	background-color: var(--white-color);
}

.slider-one .main-slider-next:hover{
	color: var(--main-color);
	background-color: var(--white-color);
}

.slider-one .main-slider-next::after,
.slider-one .main-slider-prev::after{
	display: none;
}

.slider-one .main-slider-next{
	position: relative;
	z-index: 1;
	width: 73px;
	height: 72px;
	font-size: 24px;
	cursor: pointer;
	line-height: 72px;
	text-align: center;
	display: inline-block;
	color: var(--white-color);
	background-color:var(--color-two);
}

.slider-one .swiper-slide{
	position:relative;
	padding:300px 0px 220px;
}

.slider-one_content{
	position:relative;
	z-index: 2;
	padding-top:0px;
}

.slider-one_content-inner{
	position:relative;
	max-width: 692px;
}

.slider-one_image-layer{
	position:absolute;
	right:0px;
	top:232px;
	bottom:0px;
	width: 805px;
	height: 753px;
	background-size: cover;
}

.slider-one_title{
	position: relative;
	font-size: 15px;
	font-weight: 600;
	padding:10px 30px;
	letter-spacing: 1px;
	border-radius:50px;
	display:inline-block;
	color: var(--white-color);
	text-transform: uppercase;
	background-color: var(--main-color);
	transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.slider-one .swiper-slide-active .slider-one_title{
	-webkit-transition-delay: 500ms;
	-moz-transition-delay: 500ms;
	-ms-transition-delay: 500ms;
	-o-transition-delay: 500ms;
	transition-delay: 500ms;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.slider-one_heading{
	margin-top: 40px;
	max-width: 550px;
	color: var(--white-color);
	text-transform: uppercase;
	
	transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.slider-one_heading span{
	color: transparent;
	font-weight:800;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(var(--main-color-rgb), 1);
}

.slider-one .swiper-slide-active .slider-one_heading{
	-webkit-transition-delay: 800ms;
	-moz-transition-delay: 800ms;
	-ms-transition-delay: 800ms;
	-o-transition-delay: 800ms;
	transition-delay: 800ms;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.slider-one_text{
	font-weight:400;
	font-size:16px;
	line-height:30px;
	max-width: 570px;
	margin-top:30px;
	margin-bottom:35px;
	color: var(--white-color);
	text-transform: capitalize;
	
	transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.slider-one .swiper-slide-active .slider-one_text{
	-webkit-transition-delay: 1200ms;
	-moz-transition-delay: 1200ms;
	-ms-transition-delay: 1200ms;
	-o-transition-delay: 1200ms;
	transition-delay: 1200ms;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.slider-one .slider-one_button{
	position: relative;
	gap: 15px;
	display:inline-block;
	transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.slider-one .swiper-slide-active .slider-one_button{
	-webkit-transition-delay: 1400ms;
	-moz-transition-delay: 1400ms;
	-ms-transition-delay: 1400ms;
	-o-transition-delay: 1400ms;
	transition-delay: 1400ms;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.slider-one_big-title{
	position:absolute;
	left:0px;
	right:0px;
	top:500px;
	z-index: -1;
	opacity:0.20;
	font-size:180px;
    color: transparent;
    font-weight: 800;
	text-align:center;
	text-transform:uppercase;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(var(--white-color-rgb), 1);
}

.slider-one_dotted{
	position:absolute;
	right:45%;
	bottom:0px;
	width: 246px;
	height: 246px;
	background-repeat: no-repeat;
}

.slider-one_video{
	position:relative;
}

/* Play Box */

.slider-one .play-box{
	position:relative;
}

.slider-one .play-box:hover .fa{
	color: var(--white-color);
	border-color: var(--black-color);
	background-color: var(--main-color);
}

.slider-one .play-box .fa{
	position:relative;
	width:64px;
	height:64px;
	margin-top:3px;
	font-size:18px;
	line-height:64px;
	border-radius:50px;
	display:inline-block;
	color:var(--white-color);
	text-align:center !important; 
	background-color: rgba(var(--white-color-rgb), 0.15);
}

/* Slider Socials Box */

.slider-one_socials{
	position: absolute;
	left: 40px;
	top: 50%;
	z-index: 1;
	width: 60px;
	padding: 20px 5px;
	text-align: center;
	border-radius: 50px 50px;
	transform: translateY(-70%);
	background-color: rgba(var(--white-color-rgb), 1);
}

.slider-one_socials a{
	position: relative;
	font-size: 16px;
	margin: 15px 0px;
	display: block;
	text-transform: capitalize;
	color: var(--color-two);
}

.slider-one_socials a:hover{
	color: var(--main-color);
}

/*** 

====================================================================
	Slider Two
====================================================================

***/

.slider-two{
	position:relative;
	overflow: hidden;
}

.slider-two .curve-one{
	position: absolute;
    right: 130px;
    top: -50px;
    width: 60px;
    bottom: -150px;
    z-index: 1;
    opacity: 0.20;
    transform: rotate(30deg);
    background-color: var(--main-color);
}

.slider-two .curve-two{
    position: absolute;
    right: 199px;
    top: -50px;
    width: 60px;
    bottom: -150px;
    z-index: 1;
    opacity: 0.40;
    transform: rotate(30deg);
    background-color: var(--main-color);
}

.slider-two_call{
	position:absolute;
	right: -80px;
	top:50%;
	z-index:10;
	font-weight:500;
	font-size: 18px;
	display:inline-block;
	color: var(--white-color);
	transform:rotate(-90deg);
}

.slider-two_call span{
	position:relative;
	font-size: 24px;
	color: var(--white-color);
}

.slider-two_call span:hover{
	color: var(--main-color);
}

.slider-two_pattern{
	position:absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom:0px;
	background-repeat: repeat;
}

.slider-two-arrow{
	position: absolute;
	bottom:0px;
	right: 0px;
	text-align: center;
}

.slider-two .main-slider-prev{
	position: relative;
	z-index: 1;
	width: 73px;
	height: 72px;
	font-size: 24px;
	cursor: pointer;
	line-height: 72px;
	text-align: center;
	display: inline-block;
	color: var(--white-color);
	background-color:var(--color-two);
}

.slider-two .main-slider-prev:hover{
	color: var(--main-color);
	background-color: var(--white-color);
}

.slider-two .main-slider-next:hover{
	color: var(--main-color);
	background-color: var(--white-color);
}

.slider-two .main-slider-next::after,
.slider-two .main-slider-prev::after{
	display: none;
}

.slider-two .main-slider-next{
	position: relative;
	z-index: 1;
	width: 73px;
	height: 72px;
	font-size: 24px;
	cursor: pointer;
	line-height: 72px;
	text-align: center;
	display: inline-block;
	color: var(--white-color);
	background-color:var(--color-two);
}

.slider-two .swiper-slide{
	position:relative;
	padding:340px 0px 180px;
}

.slider-two_content{
	position:relative;
	z-index: 2;
}

.slider-two_content-inner{
	position:relative;
	margin:0 auto;
	text-align:center;
}

.slider-two_title{
	position: relative;
	font-size: 15px;
	font-weight: 600;
	padding:10px 30px;
	letter-spacing: 1px;
	border-radius:50px;
	display:inline-block;
	color: var(--white-color);
	text-transform: uppercase;
	background-color: var(--main-color);
	transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.slider-two .swiper-slide-active .slider-two_title{
	-webkit-transition-delay: 500ms;
	-moz-transition-delay: 500ms;
	-ms-transition-delay: 500ms;
	-o-transition-delay: 500ms;
	transition-delay: 500ms;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.slider-two_heading{
	position:relative;
	margin-top: 40px;
	font-size: 110px;
	line-height: 100px;
	color: var(--white-color);
	text-transform: uppercase;
	
	transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.slider-two_heading span{
	position:relative;
	height:80px;
	line-height:1em;
	display: inline;
}

.slider-two_heading span img{
	overflow:hidden;
	border-radius:150px;
}

.slider-two .swiper-slide-active .slider-two_heading{
	-webkit-transition-delay: 800ms;
	-moz-transition-delay: 800ms;
	-ms-transition-delay: 800ms;
	-o-transition-delay: 800ms;
	transition-delay: 800ms;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.slider-two_text{
	font-weight:400;
	font-size:18px;
	line-height:32px;
	max-width: 600px;
	margin:0 auto;
	margin-top:35px;
	margin-bottom:40px;
	color: var(--white-color);
	text-transform: capitalize;
	
	transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.slider-two .swiper-slide-active .slider-two_text{
	-webkit-transition-delay: 1200ms;
	-moz-transition-delay: 1200ms;
	-ms-transition-delay: 1200ms;
	-o-transition-delay: 1200ms;
	transition-delay: 1200ms;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.slider-two .slider-two_button{
	position: relative;
	gap: 15px;
	display:inline-block;
	transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.slider-two .swiper-slide-active .slider-two_button{
	-webkit-transition-delay: 1400ms;
	-moz-transition-delay: 1400ms;
	-ms-transition-delay: 1400ms;
	-o-transition-delay: 1400ms;
	transition-delay: 1400ms;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.slider-two_big-title{
	position:absolute;
	left:0px;
	right:0px;
	top:500px;
	z-index: -1;
	opacity:0.20;
	font-size:180px;
    color: transparent;
    font-weight: 800;
	text-align:center;
	text-transform:uppercase;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(var(--white-color-rgb), 1);
}

.slider-two_video{
	position:relative;
}

/* Play Box */

.slider-two .play-box{
	position:relative;
}

.slider-two .play-box:hover .fa{
	color: var(--white-color);
	border-color: var(--black-color);
	background-color: var(--main-color);
}

.slider-two .play-box .fa{
	position:relative;
	width:64px;
	height:64px;
	margin-top:3px;
	font-size:18px;
	line-height:64px;
	border-radius:50px;
	display:inline-block;
	color:var(--white-color);
	text-align:center !important; 
	background-color: rgba(var(--white-color-rgb), 0.15);
}

/* Slider Socials Box */

.slider-two_socials{
	position: absolute;
	left: 40px;
	top: 50%;
	z-index: 1;
	width: 60px;
	padding: 20px 5px;
	text-align: center;
	border-radius: 50px 50px;
	transform: translateY(-70%);
	background-color: rgba(var(--white-color-rgb), 1);
}

.slider-two_socials a{
	position: relative;
	font-size: 16px;
	margin: 15px 0px;
	display: block;
	text-transform: capitalize;
	color: var(--color-two);
}

.slider-two_socials a:hover{
	color: var(--main-color);
}

/*** 

====================================================================
	Slider Three
====================================================================

***/

.slider-three{
	position:relative;
	overflow: hidden;
	padding: 280px 0px 120px;
}

.slider-three_pattern{
	background-size: cover;
}

.slider-three_pattern:before{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	opacity:0.70;
	background-size:cover;
	background-color: var(--color-two);
}

.slider-three .column{
	position:relative;
	margin-bottom: 25px;
}

.slider-three_title{
	position:relative;
	font-size: 16px;
	letter-spacing: 0.5;
	color: var(--white-color);
	text-transform: uppercase;
}

.slider-three_heading{
	position:relative;
	font-weight: 500;
	margin-top: 15px;
	padding-right: 80px;
	margin-bottom: 20px;
	color: var(--white-color);
	text-transform: uppercase;
}

.slider-three_text{
	position:relative;
	font-size: 16px;
	letter-spacing: 0.5;
	max-width: 550px;
	margin-bottom: 25px;
	color: var(--white-color);
	text-transform: capitalize;
}

.slider-three .form-outer{
	position:relative;
	padding: 45px 40px;
	border-radius: 10px;
	background-color: rgba(var(--color-two-rgb), 0.80);
}

.slider-three .form-outer .property-search-form .form-group label{
	position:relative;
	color: var(--white-color);
}