/* Roisk Luxury Hotel Business HTML-5 Template */

/*** 

====================================================================
	Team One
====================================================================

***/

.team-one{
	position: relative;
	padding-bottom: 100px;
}

.team-one-arrow{
	position: absolute;
	left:0px;
	top: 50%;
	right:0px;
	z-index:10;
	transform: translateY(-50%);
}

.team-one .team-carousel-prev{
	position: relative;
	z-index: 1;
	width: 73px;
	height: 72px;
	font-size: 24px;
	cursor: pointer;
	line-height: 72px;
	text-align: center;
	display: inline-block;
	color: var(--white-color);
	background-color:var(--color-two);
}

.team-one .team-carousel-prev:hover{
	color: var(--white-color);
	background-color: var(--main-color);
}

.team-one .team-carousel-next:hover{
	color: var(--white-color);
	background-color: var(--main-color);
}

.team-one .team-carousel-next::after,
.team-one .team-carousel-prev::after{
	display: none;
}

.team-one .team-carousel-next{
	position: absolute;
	right:0px;
	z-index: 1;
	width: 73px;
	height: 72px;
	font-size: 24px;
	cursor: pointer;
	line-height: 72px;
	text-align: center;
	display: inline-block;
	color: var(--white-color);
	background-color:var(--color-two);
}

.team-one .swiper-container{
	padding-top: 40px;
	padding-bottom: 20px;
}

.team-one .swiper-slide.swiper-slide-prev .team-block_one{
	transform:translateX(40%) rotate(-12deg) !important;
}

.team-one .swiper-slide.swiper-slide-active .team-block_one{
	z-index:10;
}

.team-one .swiper-slide.swiper-slide-next .team-block_one{
	transform:translateX(-40%) rotate(12deg) !important;
}

.team-one .lower-box{
	position:relative;
	margin-top: 20px;
}

.team-one .lower-box .lower-text{
	position:relative;
	font-size: 18px;
	color: var(--color-two);
	text-transform: uppercase;
}

.team-one .lower-box .lower-text a{
	position:relative;
	font-weight: 600;
}

.team-one .lower-box .lower-text a:hover{
	color: var(--color-two);
}

.team-block_one{
	position:relative;
	margin-bottom: 30px;
}

.team-block_one-inner{
	position:relative;
	overflow: hidden;
	border-radius: 15px;
}

.team-block_one-image{
	position:relative;
}

.team-block_one-image img{
	position:relative;
	width: 100%;
	display: block;
}

.team-block_one-content{
	position:absolute;
	left:0px;
	bottom:0px;
	right:0px;
	padding: 25px 30px;
	background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(16px);
}

.team-block_one-inner:hover .team-block_one-content{
	opacity: 0;
	bottom:-150px;
}

.team-block_one-title{
	position:relative;
	letter-spacing:1px;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--white-color);
}

.team-block_one-title a{
	position:relative;
	color: var(--white-color);
}

.team-block_one-designation{
	position:relative;
	margin-top: 5px;
	text-transform: uppercase;
	color: var(--white-color);
}

.team-block_one-plus{
	position:absolute;
	right: 25px;
	top: 25px;
	width: 48px;
	height: 48px;
	z-index:1;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	line-height: 50px;
	border-radius: 50px;
	display: inline-block;
	color: var(--main-color);
	font-family: "flaticon_roisk-flat";
	background-color: var(--white-color);
}

.team-block_one-inner:hover .team-block_one-plus{
	transform:rotate(-45deg);
}

.team-block_one-overlay{
	display:flex;
	padding: 25px 45px;
	justify-content:center;
	flex-direction: column;
	
	transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
	transition: -webkit-transform 0.4s ease;
	transition: transform 0.4s ease;
	transition: transform 0.4s ease, -webkit-transform 0.4s ease;
	-webkit-transform: scale(0, 1);
	-ms-transform: scale(0, 1);
	transform: scale(0, 1);
	-webkit-transform-origin: right center;
	-ms-transform-origin: right center;
	transform-origin: right center;
	background-position:center center;
}

.team-block_one-overlay:before{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	background-color:rgba(var(--color-two-rgb), 0.85);
}

.team-block_one-inner:hover .team-block_one-overlay{
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;
}

.team-social_box{
	position:relative;
	margin-top: 15px;
	margin-bottom: 20px;
}

.team-social_box a{
	position:relative;
	font-size: 18px;
	margin-right: 15px;
	color: var(--white-color);
}

.team-block_one-text{
	position:relative;
	font-size: 18px;
	line-height: 32px;
	margin-top: 0px;
	padding-top: 20px;
	color: var(--white-color);
	border-top:1px solid rgba(var(--white-color-rgb), 0.20);
}

.team-block_one-more{
	position:relative;
	font-size: 16px;
	font-weight: 600;
	margin-top: 15px;
	color: var(--white-color);
	text-transform: uppercase;
	text-decoration:underline;
}

.team-block_one-title a:hover,
.team-block_one-more:hover,
.team-social_box a:hover{
	color: var(--main-color);
}

/*** 

====================================================================
	Team Two
====================================================================

***/

.team-two{
	position: relative;
	padding: 110px 0px 80px;
}

.team-block_two{
	position:relative;
	margin-bottom:30px;
}

.team-block_two-inner{
	position:relative;
	padding:20px 20px 45px;
	border-radius:50px 50px 50px;
	background-color:#f5f5f5;
}

.team-block_two-image{
	position:relative;
	text-align:center;
	overflow:hidden;
}

.team-block_two-image img{
	position:relative;
	width:100%;
	display:block;
	overflow:hidden;
	border-radius:150px 50px 20px 200px;
}

.team-block_two-content{
	position:relative;
	text-align:center;
}

.team-block_two-heading{
	position:relative;
	padding-top:25px;
	margin-bottom:0px;
	text-transform: uppercase;
}

.team-block_two-heading a{
	position:relative;
	color:var(--color-two);
}

.team-block_two-heading a:hover{
	color:var(--main-color);
}

.team-block_two-designation{
	position:relative;
	font-size:16px;
	font-weight:700;
	margin-top:10px;
	color:var(--main-color);
	text-transform: uppercase;
}

.team-block_two .share-box{
	position:absolute;
	right:20px;
	bottom:20px;
	border-radius:50px;
	display:inline-block;
}

.team-block_two .share-box i{
	position:relative;
	width:60px;
	height:60px;
	z-index:1;
	font-size:24px;
	line-height:60px;
	text-align:center;
	border-radius:50px;
	display:inline-block;
	color:var(--white-color);
	background-color:var(--color-two);
	font-family: "flaticon_roisk-flat";
}

.team-block_two-socials{
	position:absolute;
	right:0px;
	opacity:0;
	bottom:0px;
	width:200px;
	transform: translate(100px,100px);
	-webkit-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

.team-block_two-inner:hover .team-block_two-socials{
	bottom:0px;
	opacity:1;
	transform: translate(0px,0px);
}

.team-block_two-socials a{
	position:relative;
	width:40px;
	height:40px;
	display:block;
	margin:0 auto 8px;
	font-weight:700;
	line-height: 40px;
	border-radius:50px;
	color:var(--white-color);
	font-family: 'Font Awesome 6 Free';
	background-color: rgba(var(--main-color-rgb), 1);
}

.team-block_two-inner:hover .team-block_two-socials a:nth-child(1) {
  transform: translateY(40px) translateX(90px);
}

.team-block_two-inner:hover .team-block_two-socials a:nth-child(2) {
  transform: translate(35px, 10px);
}

.team-block_two-inner:hover .team-block_two-socials a:nth-child(3) {
  transform:translateX(2px) translateY(10px);
}

.team-block_two-inner:hover .team-block_two-socials a:nth-child(4) {
  transform: translate(0px, 20px);
}

.team-block_two-socials span{
	position:relative;
	margin:5px 0px;
}

.team-block_two-socials a:hover{
	color:var(--white-color);
	background-color: rgba(var(--main-color-rgb), 1);
}


/*** 

====================================================================
	Team Detail
====================================================================

***/

.team-detail{
	position:relative;
	padding: 110px 0px 90px;
}

.team-image-box{
	text-align: center;
	background-color: #f5f5f5;
}

.team-image-box .image-box{
	position:relative;
}

.team-image-box .image-box img{
	position:relative;
	width:100%;
	display: block;
}

.team-image-box .content{
	position:relative;
	padding: 25px 10px 0px;
}

.team-image-box .title{
	position:relative;
	color: var(--color-two);
}

.team-image-box .designation{
	position:relative;
	margin:10px 0px;
	font-size: 18px;
	margin-bottom: 20px;
	color: var(--color-two);
}

.team-image-box .social-box{
	position:relative;
}

.team-image-box .social-box a{
	position:relative;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-size: 18px;
	display: inline-block;
	color: var(--white-color);
	background-color: var(--color-two);
}

.team-image-box .social-box a:hover{
	color: var(--white-color);
	background-color: var(--main-color);
}

.team-detail .content-box{
	position:relative;
}

.team-detail .content-box .title{
	position:relative;
}

.team-detail .content-box .title span{
	position:relative;
	font-size: 16px;
	top: -25px;
	font-weight:500;
	padding: 10px 25px;
	border-radius: 50px;
	color: var(--white-color);
	background-color: var(--color-two);
}

.team-detail .content-box h3{
	position:relative;
	margin-bottom: 20px;
}

.education-block{
	position:relative;
	padding-left: 35px;
}

.education-block li{
	position:relative;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 20px;
	color: var(--color-three);
}

.education-block strong{
	position:relative;
	display: block;
	font-size: 22px;
	line-height: 32px;
	margin-bottom: 12px;
	color: var(--color-two);
}

.education-block:before{
	position:absolute;
	left:0px;
	top:5px;
	content: "\f12b";
	font-size: 18px;
	line-height:1em;
	color: var(--main-color);
	font-family: "flaticon_roisk-flat";
}

.team-detail_list{
	position:relative;
	margin-bottom: 20px;
}

.team-detail_list li{
	position:relative;
	font-size: 18px;
	padding-left: 30px;
	margin-bottom: 15px;
	color: var(--color-two);
}

.team-detail_list li:before{
	position:absolute;
	left:0px;
	top:1px;
	content: "\f12b";
	font-size: 18px;
	line-height:1em;
	color: var(--main-color);
	font-family: "flaticon_roisk-flat";
}

.team-detail_list li:last-child{
	margin-bottom: 0px;
}

.team-detail_form{
	position:relative;
	padding-bottom: 110px;
}

.team-detail_form .title-box{
	position:relative;
	margin-bottom: 30px;
}

.team-detail_form .title-box .text{
	position:relative;
	margin-top: 15px;
	max-width: 550px;
}

.team-detail_form .inner-container{
	position:relative;
	padding: 60px 60px;
	background-color: #f5f5f5;
}