@charset "utf-8";

/* CSS Document */

:root {

	/* #0091f7 in decimal RGB */
	--main-color: #f7921fd9;
	--main-color-rgb: 0, 145, 247;

}

.page-title .pattern-1,
.page-title .pattern-2,
.error-one_image,
.project-four_bg,
.slider-three_pattern,
.choose-one_shadow {
	filter: grayscale(100%);
}