@charset "utf-8";

/* CSS Document */

:root {
	
	/* #14c599 in decimal RGB */
	--main-color: rgb(1,143,85);
	--main-color-rgb: 1,143,85;
}

.page-title .pattern-1,
.page-title .pattern-2,
.error-one_image,
.project-four_bg,
.slider-three_pattern,
.choose-one_shadow{
	filter: grayscale(100%);
}