@charset "utf-8";

/* CSS Document */

:root {
	
	/* #b4b269 in decimal RGB */
  --main-color: rgb(180,178,105);
  --main-color-rgb: 180,178,105;
	
}

.page-title .pattern-1,
.page-title .pattern-2,
.error-one_image,
.project-four_bg,
.slider-three_pattern,
.choose-one_shadow{
	filter: grayscale(100%);
}