@charset "utf-8";

/* CSS Document */

:root {

	/* #bb54e1 in decimal RGB */
	--main-color: rgb(187,84,225);
	--main-color-rgb: 187,84,225;
	
}

.page-title .pattern-1,
.page-title .pattern-2,
.error-one_image,
.project-four_bg,
.slider-three_pattern,
.choose-one_shadow{
	filter: grayscale(100%);
}