@charset "utf-8";

/* CSS Document */

:root {
	
	/* #efb900 in decimal RGB */
	--main-color: rgb(239,185,0);
	--main-color-rgb: 239,185,0;
	
}

.page-title .pattern-1,
.page-title .pattern-2,
.error-one_image,
.project-four_bg,
.slider-three_pattern,
.choose-one_shadow{
	filter: grayscale(100%);
}